@banner:210px;
@big_header:105px;
@small_header:70px;
@sub_banner:55px;
@sub_header:35px;
@box-input:28px;

.banner  {height:@banner;}
.big_header  {height:@big_header;}
.small_header {height:@small_header;}
.sub_banner  {height:@sub_banner;}
.sub_header {height:@sub_header;}
.box-input {height:@box-input;}

.box-element {
	font-family:@font-proxima-semibold;
	display:table-cell;
	background-color:@dark;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	padding:0;
	font-size:@small;
	width:100%;
	display:block;
	border:1px solid @very-very-light;
	&:hover {
		background-color:;
	}
	&:focus {
		border:1px solid @very-very-light;
		outline:none;
	}
}
.banner{
	&:extend(.box-element);	
	height:@banner;
	line-height:@banner;
}
.big_header{
	&:extend(.box-element);
	height 		:@big_header ;
	line-height:@big_header ;
}
.small_header{
	&:extend(.box-element);
	height:@small_header ;
	line-height:@small_header ;
}
.sub_banner{
	&:extend(.box-element);
	height 		:@sub_banner ;
	line-height 		:@sub_banner ;
}
.sub_header{
	&:extend(.box-element);
	height:@sub_header ;
	line-height:@sub_header ;
}
.box-input{
	&:extend(.box-element);
	height 		:@box-input;
	line-height 		:@box-input;
}

