// Icon size and classes

@xsmall_icon 	 : 12px;
@small_icon  	 : 18px;
@medium_icon  	 : 28px;
@large_icon   	 : 38px;
@xslarge_icon  	 : 48px;
@xlarge_icon   	 : 68px;
@xxlarge_icon    : 98px;
.icon {
display: inline-block;
//background-color: @medium; (change icon bg colour 1062015 as per email )
background-color:@very-dark;
color: #ffffff;
text-align:center;
.border-radius(100px);
&:hover {
background-color: @group;
}
&.resource_color,&.resource_color:hover{&:extend(.resource_color);}
&.thumbwrap {
background-color: transparent;
color: @very-dark;
}
&.thumbwrap:hover {
background-color: transparent;
color: @medium;
}
}
.xsmall_icon{
&:extend(.icon all);
height		: @xsmall ;
width 		: @xsmall ;
line-height : @xsmall ;
i{
width				: @xsmall;
display				: block;
line-height			: @xsmall;
font-size			: @xsmall / 1.4;
.thumbwrap&{
font-size		: @xsmall;
}
}
@xsmall	: @xsmall_icon;
}
.small_icon{
&:extend(.icon all);
height		: @small ;
width 		: @small ;
line-height : @small ;
i{
width				: @small;
display				: block;
line-height			: @small;
font-size			: @xsmall;
.thumbwrap&{
font-size		: @small;
}
}
@small	: @small_icon;
}
.medium_icon{
&:extend(.icon all);
height		: @mediumValue ;
width 		: @mediumValue ;
line-height : @mediumValue ;
i{
width				: @mediumValue;
display				: block;
line-height			: @mediumValue;
font-size			: @mediumValue / 2;
.thumbwrap&{
font-size		: @medium_icon;
}
}
@mediumValue	: @medium_icon;
}
.large_icon{
&:extend(.icon all);
height		: @large ;
width 		: @large ;
line-height : @large ;
i{
width				: @large;
display				: block;
line-height			: @large;
font-size			: @large / 2;
.thumbwrap&{
font-size		: @large_icon;
}
}
@large	: @large_icon;
}
.xslarge_icon{
&:extend(.icon all);
height		: @xslarge ;
width 		: @xslarge ;
line-height : @xslarge ;
i{
width				: @xxxlarge;
display				: block;
line-height			: @xslarge;
font-size			: @xslarge / 2;
.thumbwrap&{
font-size		: @xslarge_icon;
}
}
@xslarge : @xslarge_icon ;
}
.xlarge_icon{
&:extend(.icon all);
height		: @xlarge ;
width 		: @xlarge ;
line-height : @xlarge ;
i{
width				: @xlarge;
display				: block;
line-height			: @xlarge;
font-size			: @xlarge / 2;
.thumbwrap&{
font-size		: @xlarge_icon;
}
}
@xlarge	: @xlarge_icon ;
}
.xxlarge_icon{
&:extend(.icon all);
height		: @xxlarge ;
width 		: @xxlarge ;
line-height : @xxlarge ;
i{
width				: @xxlarge;
display				: block;
line-height			: @xxlarge;
font-size			: @xxlarge / 2;
.thumbwrap&{
font-size		: @xxlarge_icon;
}
}
@xxlarge  : @xxlarge_icon ;
}