//
// Input groups
// --------------------------------------------------

@xsmall_input  : 70px;
@small_input   : 105px;
@medium_input  : 175px;
@large_input   : 280px;
@xlarge_input  : 350px;
@xxlarge_input : 420px;
@xxxlarge_input: 490px;
@245_input     : 245px;

.xsmall_input  {width:@xsmall_input;}
.small_input  {width:@small_input;}
.medium_input {width:@medium_input;}
.large_input  {width:@large_input;}
.xlarge_input {width:@xlarge_input;}
.xxlarge_input {width:@xxlarge_input;}
.xxxlarge_input {width:@xxxlarge_input;}
.input245 	  {width:@245_input;}

.form-element {
	font-family:@font-proxima-semibold;
	display: inline-block;
	background-color: @very-very-light;
	color: @dark ;
	text-align:left;
	padding:4px 10px;
	line-height:@mediumValue;
	font-size:@small;
	min-height: 28px;
		height: 28px;
	border:1px solid @very-very-light;
	height:28px \9;
	&:hover {
		background-color:;
	}
	&:focus {
		border:1px solid @very-very-light;
		outline:none;
	}
}
input[type="text"][disabled] {background:@medium-light;border-color:@medium-light;}
input[type='text'], .form-element{height:28px \9;}
.xsmall_input{
	&:extend(.form-element all);	
	width 		: @xsmall_input ;
}
.small_input{
	&:extend(.form-element all);	
	width 		: @small_input ;
}
.medium_input{
	&:extend(.form-element all);
	width 		: 100% ;
	@media @tablet{width 		: @medium_input ;}
}
.large_input{
	&:extend(.form-element all);
	width 		: 100% ;
	@media @tablet{width 		: @large_input ;}
}
.xlarge_input{
	&:extend(.form-element all);
	width 		: 100% ;
	@media @tablet{width 		: @xlarge_input ;}
}
.xxlarge_input{
	&:extend(.form-element all);
	width 		: 100% ;
	@media @tablet{width 		: @xxlarge_input ;}
}
.xxxlarge_input{
	&:extend(.form-element all);
	width 		: 100% ;
	@media @tablet{width 		: @xxxlarge_input ;}
}
.input245 {
	&:extend(.form-element all);
	width 		: 100% ;
	@media @tablet{width 		: @245_input ;}
}
.form-textarea{
	&:extend(.form-element all);
	width:100% ;
	height:84px;
	resize:none;
	@media @tablet{
		width: @xlarge_input ;
	}
}
.numberInputWrapper {
    display: inline-block;
    float: left;
    position: relative;
    width: auto;	
    .form-number {
        &:extend(.form-element all);
        opacity: 0;
    }
    .form-number-value {
        &:extend(.form-element all);
        display: inline-block;
        float: left;
        height: 28px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;		
		padding-right: 38px;
		text-overflow: ellipsis;
    	white-space: pre;
		border:none;
		overflow:hidden;
    }
}
.form-number +.form-number-value:after{height: 28px;position: absolute;right: 0px;top: 0px;width: 28px;content:url("@{img_url}/numbrarw.png")}
.form-number:hover + .form-number-value:after, .form-number:focus + .form-number-value:after{content:url("@{img_url}/numbrarw2.png")}

/***********input style end*********************/

/***********Select Style *********************/
.small_select{	
	width: 70px ;
}
.medium_select{
	width: 175px ;
}
.large_select{
	width: 280px ;
}
.xlarge_select{
	width: 350px ;
}
.xxlarge_select{
	width: 420px ;
}

.select245{
	width: @245_input ;
}
.select-element {
	font-family:@font-proxima-semibold;
	display: inline-block;
	color: @dark ;
	text-align:left;
	line-height:@mediumValue;
	font-size:@small;
	border:1px solid @very-very-light;
	&:hover {
		background-color:;
	}
	&:focus {
		border:1px solid @very-very-light;
		outline:none;
	}
}
span.customSelect, span.customSelect.required {
	&:extend(.select-element all);
	background:@very-very-light;
	padding:4px 38px 4px 10px;		
	max-height:28px;
	margin-right:0;
}
span.customSelect:after {
	height:28px;
	content:url("@{img_url}/drparw.png");
	width:28px;
	right: 0;
    top: 0;
	position:absolute;
}
span.customSelect.green:after {content:url("@{img_url}/drparwGreen.png");}
span.customSelect.customSelectHover:after {content:url("@{img_url}/drparw2.png");}
span.customSelect.customSelectHover.green:after {content:url("@{img_url}/drparw2Green.png");}
span.customSelect.changed {
}
.customSelectInner {	
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	max-width: 100%;
    min-width: 100%;
}
.customSelectWrapper {float: left;position:relative;width: auto;display: inline-block;}
.custom-select{left:0;top:0;height:28px;box-shadow:none;outline:none;z-index: 1;}
.custom-select option:disabled {display: none;}
.custom-select option {
    padding: 5px;
	font-family:@font-proxima-semibold;
	font-size:@small;

}
[class^="col-fluid"] [class$="_select"] {width:100%;}
.hasEditButton{float:left;}

.customFileWrapper{&:extend(.common_prop all);height: 28px;overflow: hidden;position: relative;}
.customFileWrapper input{opacity: 0;cursor:pointer;position: absolute;top: 0;z-index: 1}
.inputFileBtn {&:extend(.common_prop all);left: 0;position: absolute;top: 0;z-index: 0;font-family:@font-proxima-semibold;color:@dark;text-align:left; padding:4px 10px;line-height:@mediumValue;font-size:@small;border:1px dashed @dark;height:100%;background:url("@{img_url}/file.png")no-repeat @very-very-light;background-position: 98% center;}
.inputFileWrapper{&:extend(.common_prop all);margin-top:7px;
	.fileName{padding:5px 10px;.font-small;font-family:@font-proxima-semibold;color:@very-dark;float:left;background:@medium-mid;.rounded5;
max-width:auto;margin-top:7px;
		span{cursor:pointer;.mL5;word-wrap: break-word}
	}	
}

.fileName:first-child{margin-top:0;}
.fileName span:last-child{float:right;}
.fileName span:first-child{margin-left:0; float: left;cursor: default;}
.uploadedName{padding:5px 25px 5px 10px;.font-small;font-family:@font-proxima-semibold;color:@very-dark;float:left;background:@medium-mid;.rounded5;
max-width:auto;margin-top:7px;max-width:200px;word-wrap: break-word;word-break: break-all;position:relative;
		span{cursor:pointer;word-wrap: break-word}
	}	
.uploadedName:first-child{margin-top:0;margin-left:0px;margin-right:10px}
.uploadedName span:last-child{position: absolute;
right: 5px;
top: 50%;
transform: translateY(-50%);}
.uploadedName span:first-child{margin-left:0; float: left;cursor: default;min-width:140px}

.panel .scrollTopTrg {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: @gray;
	font-family: @font-proxima-semibold;
	&:extend(.font-small);
	line-height: 25px;
}
::-webkit-input-placeholder {color: #D9D9D6;opacity:1;}
:-moz-placeholder {color: #D9D9D6;opacity:1;}
::-moz-placeholder {color: #D9D9D6;opacity:1;}
:-ms-input-placeholder {color: #D9D9D6;opacity:1;}

.xxxlarge_input::-webkit-input-placeholder {color: #C8C9C7;}
.xxxlarge_input:-moz-placeholder {color: #C8C9C7;}
.xxxlarge_input::-moz-placeholder {color: #C8C9C7;}
.xxxlarge_input:-ms-input-placeholder {color: #C8C9C7;}