// Button variants
.btn:hover, .btn:active, .btn:focus, button, button:active, button:focus, a, a:hover, a:focus, a:active{outline:none;}
button::-moz-focus-inner {border: 0;}
a.btn{text-decoration:none;}
.btn {
  float:left;
  .font-small;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;  
  background-image: none;
  border: none;
  margin-top:5px;
  .rounded5;
  .userSelect;
  background:@very-dark;
	&:hover{
		background:@medium;
	}	
}
.btn.largeBtn{.font-xxlarge;font-family:@font-proxima-semibold;padding:10px 15px;line-height:26px;}
.btn-normal{	
	padding:6px 15px;
	font-family:@font-proxima-semibold;
	color:@white;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;	
}
.btn-green{
	padding:6px 13px;
	font-family:@font-proxima-semibold;
	color:@white;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;
	background:@suppliers ;
	&:hover{background:@suppliers ;}
}
.btn-orange{
	padding:6px 13px;
	font-family:@font-proxima-semibold;
	color:@white;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;
	background:@mangers ;
	&:hover{background:@mangers ;}
}
.btn-red{
	padding:6px 13px;
	font-family:@font-proxima-semibold;
	color:@white;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;
	background:@danger ;
	&:hover{background:@danger-medium ;}
}
.btn-normalComplete{	
	padding:6px 15px;
	font-family:@font-proxima-semibold;
	color:@white;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;
	&:hover{background:@group;}	
}
.btn-greenWhite{
	padding:5px 13px;
	font-family:@font-proxima-semibold;
	color:@suppliers ;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;
	background:@white;
	border:1px solid @suppliers ;
	&:hover{background:@white;}
}
.btn-orangeWhite{
	padding:5px 13px;
	font-family:@font-proxima-semibold;
	color:@mangers ;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;
	background:@white;
	border:1px solid @mangers ;
	&:hover{background:@white;}
}
.btn-grayWhite{
	padding:5px 9px;
	font-family:@font-proxima-semibold;
	color:@suppliers ;	
	&:extend(.btn all);
	&:extend(.font-medium all);
	line-height:16px;
	background:transparent;
	.rounded0;
	.font-xsmall;
	border:1px solid @medium;
	&:hover{background:transparent;}
	text-align: left;
}
.btn-grayWhite.disable{color:@medium;min-width:92px;}
.btn-icon{	
	&:extend(.btn-normal all);
	&:extend(.font-medium all);
	padding: 5px 15px;
	span{
	background:@white;
	color:@very-dark;
	margin-right: 10px;
	}	
}
.btn-nav{	
	padding:5px 12px;
	&:extend(.btn-icon all);
}

.pull-right .btn-group{text-align:right;}
.btn-icon:hover span, .btn-icon span:hover, .btn-icon span i:hover, .btn-icon span:hover i{color:@medium;background:@white;.rounded100;overfloaw:hidden;}
.btn + .btn{.mL15}
.small_icon i.font-small{font-size:@mediumValue}
.btn-nav.prev span.small_icon{margin-right:0;margin-left:10px;}
.btn-nav.prevI i.icon-rightarrow{margin-left:10px;line-height:@mediumValue}
.btn-nav.prevI i.icon-leftarrow{margin-right:10px;line-height:@mediumValue}
.btn-icon.btn-icon-large{font-size:@mediumValue}   
.btn-icon.btn-icon-medium{font-size:@mediumValue}   
.btn-icon.btn-icon-xslarge{font-size:@mediumValue}
.btn-icon.btn-icon-xsmall{font-size:@xsmall; .padding(1px 15px);} 
.btn-icon.btn-icon-xsmall22{font-size:@xsmall; .padding(5px 15px);}    
.topBtnBar .btn + .btn{.mL5}
input.btn-normal.btn {padding:6px 13px;max-height:28px;min-height: 28px;}

/*For input field action*/
.editButtonGroup .btn{width:auto;}
.editButtonGroup .btn.largeIco{width:28px;}
.editButtonGroup .btn .medium_icon {height: 28px;line-height: 28px;width: 28px;background:@very-dark;}
.editButtonGroup .btn .medium_icon i {display: block;font-size: 15px;line-height: 28px;width: 28px;}
.editButtonGroup .btn:nth-child(2){.mL5}
.editButtonGroup .btn:hover span{background:transparent;}
/*.editButtonGroup .btn:last-child span{background:@resources}
.editButtonGroup .btn:last-child:hover span{background:@danger-medium;}*/
.editButtonGroup{float:left;display:block;
	.btn{background:transparent;padding:0;.rounded100;width:28px;float:left;margin-top:0;
		span{margin-left: -2px;}
	}
	.btn{.mL10;
		span{}
		&:hover span{background:@group;}
	}
	.btn.red{.mL5;
		span{background:@danger;}
		&:hover span{background:@danger-medium;}
	}
}

.sabPanel_header .editButtonGroup .btn{margin-left:0;margin-right:10px;width:38px;}
.sabPanel_header .editButtonGroup .btn.red{background:transparent;}
.sabPanel_header .editButtonGroup{float:right;}
.sabPanel_header .editButtonGroup .btn span.medium_icon i{line-height:35px;}
.hasEditButton + .editButtonGroup .btn span{background:@very-dark;}
.hasEditButton + .editButtonGroup .btn:hover span{background:@medium;}
.hasEditButton + .editButtonGroup .btn.red:last-child span, .hasEditButton + .editButtonGroup .btn:last-child span{background:@danger;}
.hasEditButton + .editButtonGroup .btn.red:last-child:hover span, .hasEditButton + .editButtonGroup .btn:last-child:hover span{background:@danger-medium;}
