// Checkbox 

.checkBox[type="checkbox"]{display: none;}
.checkBox[type="checkbox"] + label.form-label, .radioButton[type="radio"] + label.form-label {    
    &:extend(.form-label all);
	display: table;
	position:relative;
	cursor: pointer;
	text-indent:-1px;
	padding-left:28px;
}
.checkBox[type="checkbox"] + label.form-label span, .radioButton[type="radio"] + label.form-label span{
	display: inline-block;
    float: left;
    line-height: 12px;
    margin:4px 0 2px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    word-wrap: break-word;
}
.checkBox[type="checkbox"] + label.form-label:before{
	width:@mediumValue;
	height:@mediumValue;
	content: '';
	display: block;
	background:@dark-medium;
	font-size:@small;
    line-height: @mediumValue;
	text-align:center;
	float:left;
	position:absolute;
	left:0;
}
.checkBox[type="checkbox"] + label.form-label:hover:before{
	width:@mediumValue;
	height:@mediumValue;
	content: '';
	background:@very-dark ;
	font-size:@small;
    line-height: @mediumValue;
	text-align:center;
}
.checkBox[type="checkbox"]:checked  + label.form-label:before{
	font-family: "fontello";
	content: '\e80a';
	background:@very-dark ;
	color:@white;
	font-size:@small;
    line-height: @mediumValue;
	text-align:center;
	text-indent: 1px;
}
