//
// Datepicker
// --------------------------------------------------


#datepicker-div {
    background:transparent;
    width: 100%;
    max-width:560px;
    border-radius: 20px 20px 0 20px;
    overflow:hidden;
}
.datepicker-header {background:@suppliers ;padding:27px 35px;position:relative;}
.datepicker-prev.corner-all, .datepicker-next.corner-all {position: absolute;cursor: pointer;}
.datepicker-prev.corner-all {left: 35px;}
.datepicker-next.corner-all {right: 35px;}
.datepicker-title {text-align: center;.font-large;font-family:@font-proxima-semibold;color:@white;line-height:@mediumValue;}
table.datepicker-calendar {
	font-family:@font-proxima-semibold;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    thead {
        background:@dark-light;
        height:30px;
		font-family:@font-proxima-semibold;
		font-size:@small;
		color:@very-dark;
    }
    tbody {
        background:@very-light;
        tr {
            
            td {
                padding:15px 0;
                text-align:center;
				border-top:1px solid @very-light;
                a {
					.font-xsmall;
                    background:@light;
                    border-radius: 100%;
                    display: inline-block;
                    min-width: 35px;
                    padding:10px;
					color:@very-dark;
                    text-decoration: none;
					&:hover{
						background:@dark;
						color:@white;
					}
                }				
            }
        }
    }
}
table.datepicker-calendar tbody tr:first-child td{border:none;}
table.datepicker-calendar tbody tr:last-child td{padding-bottom:25px;}
.hasEditButton + .editButtonGroup .btn:last-child span{background:@very-dark;}
.hasEditButton + .editButtonGroup .btn:last-child:hover span{background:@medium;}