// Grid

@columnWidth: 70px;
@gutter:0px;

@allColumns: @columnWidth * 15;
@allGutters: (@gutter * 15) * 0;
@totalWidth: @allColumns + @allGutters;

.theWidth (@theColumn: 1, @theGutter: 0) {
  width: (@columnWidth * @theColumn) + (@gutter * @theGutter);
  float:left;display:inline-block;
  min-height: 1px;
}

.col-1 { .theWidth(1,0); }
.col-2 { .theWidth(2,2); }
.col-3 { .theWidth(3,4); }
.col-4 { .theWidth(4,6); }
.col-5 { .theWidth(5,8); }
.col-6 { .theWidth(6,10); }
.col-7 { .theWidth(7,12); }
.col-8 { .theWidth(8,14); }
.col-9 { .theWidth(9,16); }
.col-10 { .theWidth(10,18); }
.col-11 { .theWidth(11,20); }
.col-12 { .theWidth(12,22); }
.col-13 { .theWidth(13,24); }
.col-14 { .theWidth(14,26); }
.col-15 { .theWidth(15,28); }
.column {
	margin: 0 @gutter;
	overflow: hidden;
	float: left;
	display: inline;
}
.container {
		max-width: @totalWidth - 630px;
		width:auto;
		margin: 0 auto;
		padding:0 35px;
	}
.container .row {
	margin-left: (@gutter * -1);
	margin-right: (@gutter * -1);
	width: 100%;
	display: inline-block;
	float: left;
}
.row + .row{margin-top:7px}
@media only screen and (max-width:629px) {
[class^="col-"], [class^="col-fluid"]{width:100%}
}
@media only screen and (min-width:630px) {
	.container {
		width: @totalWidth - 420px;
		min-width: @totalWidth - 420px;
		max-width:auto;
		margin: 0 auto;
		padding:0;
	}
	.container .row {
		margin-left: (@gutter * -1);
		margin-right: (@gutter * -1);
		width: auto;
		display: inline-block;
	}
}
@media only screen and (min-width:1050px) {
	.container {
		width: @totalWidth;
		min-width: @totalWidth;
	}
}
	/* fluid grid mixing*/
@columnsFluid:       15;
@columnWidthFluid: 	100%/@columnsFluid;

.fluidable (@index) when (@index > 0) {
	.col-fluid-@{index} {
		width: @columnWidthFluid * @index;
		float: left;
	}
	.fluidable(@index - 1);
}
.fluidable (0) {}
.fluidable (@columnsFluid);
.row-fluid{width:100%;float:left;}
.row-fluid::before, .row-fluid::after {content:"";display: table;line-height: 0;}
.row-fluid::after {clear: both;}
	/* fluid grid mixing end */