// Grid
@gutter:0;
.gridwidth(@gridnumber,@unit){
  @gwidth:70*@gridnumber;
  width : ~"@{gwidth}@{unit}";
	margin : 0;
}

[class*="col-"] {float: left;min-height: 1px;display:inline-block;vertical-align: text-bottom;}
[class^="col-fluid"]{width:100%}
.container {
	max-width: 420px; 
	padding:0 35px;
	margin:0px auto;
	@media screen and (min-width:630px){
		max-width: 630px; 
		padding:0;
	}
	@media screen and (min-width:1050px){
		max-width: 1050px; 
	}
}	
.column {
	margin: 0 @gutter;
	overflow: hidden;
	float: left;
	display: inline;
}
.container .row {
	margin-left: (@gutter * -1);
	margin-right: (@gutter * -1);
	width: 100%;
	display: inline-block;
	float: left;
}
.row + .row{margin-top:7px}
.row-fluid-15 { width: 100%;*zoom: 1; }
.row-fluid-15:before, .row-fluid-15:after { display: table; content: "";  line-height: 0;}
.row-fluid-15:after { clear: both;}
.col-15 ,.col-14 ,.col-13 ,.col-12 ,.col-11 ,.col-10 ,.col-9 ,.col-8 ,.col-7 ,.col-6 ,.col-5 ,.col-4 ,.col-3 ,.col-1 ,.col-2 {width: 100%; margin:0;}


@media only screen and (min-width:630px){
  .container .row {
	  margin-left: (@gutter * -1);
	  margin-right: (@gutter * -1);
	  width: auto;
	  display: inline-block;
  }
}

@media only screen and (min-width:1050px){

  .grids (@index) when (@index > 0) {
	  .col-@{index} {
		  .gridwidth( @index , px);
	  }
	  .grids(@index - 1);
  }
  .grids(15);


  @columnsFluid:       15;
  @columnWidthFluid: 	100%/@columnsFluid;
  .fluidable (@index) when (@index > 0) {
	  .col-fluid-@{index} {
		  width: @columnWidthFluid * @index;
		  float: left;
	  }
	  .fluidable(@index - 1);
  }
  .fluidable (0) {}
  .fluidable (@columnsFluid);
  .row-fluid{width:100%;float:left;}
  .row-fluid::before, .row-fluid::after {content:"";display: table;line-height: 0;}
  .row-fluid::after {clear: both;}

}	