// Rating Star


.rating {
    display: inline-block;
    float: left;
    margin: 0;
	padding:5px 0;
    position: relative;
}
.custom-rating[type="radio"] {
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 18px;
	cursor:pointer;
}
.custom-rating {        
    display: block;
    float: right; 
    width:@mediumValue;
    height:@mediumValue;
    margin:0 5px 0 0;
    background: url("@{img_url}/star2.png");
}
.custom-rating:first-child{margin-right:0;}
.custom-rating:hover, .custom-rating:hover ~ .custom-rating, .custom-rating:checked ~ .custom-rating, .custom-rating.selected ~ .custom-rating {
  background:url("@{img_url}/star1.png")
}
.custom-rating.selected {background:url("@{img_url}/star1.png");}