// Color-palette

// Stakeholder Palette

@group 			: #768693 ;
@mangers 		: #FF8400 ;
@suppliers 		: #8B8D4A ;
@clients		: #76236D ;
@resources 		: #A8353A ;
@free 			: #A6192e ;
@solo 			: #009ABF ;
@delegates      : #00609C;
@enterprise 	: #230871 ;

// Secondary Palette 

@very-dark:         #131E29;
@dark:              #253746;
@medium:            #415464;
@light:             #A4BCC4;
@very-light:        #D9E1E2;

// UI Palette

@very-dark-80:      #424B54;
@very-dark-60:      #71787F;
@dark-40:           #A8AFB5;
@dark-35:           #BEC3C8;
@dark-30:           #B7C7CF;
@dark-20:           #D1D2D7;
@light-55:          #CDDADF;
@light-50:          #D2DEE2;
@light-20:          #EDF2F3;
@very-light:        #D9E1E2;
@very-light-50:     #ECF0F1;
@delegate-75:       #4088B5;
@free:              #A6192E;
@solo:              #009ABF;
@enterprise:        #230871;
@danger:            #FF0000;
@danger-60:         #FF6666;
@suppliers-80:      #A3A26B;
@suppliers-50:      #C5C3A0;

// Gray Palette 

@gray-medium:       #63666A;
@gray-light:        #C8C9C7;
@gray-very-light:   #D9D9D6;
@gray-light-50:     #E4E4E3;

@white		: #fff ;

/***********color classes*********************/

.group_color{ background-color : @group ; }
.managers_color{ background-color : @mangers ; }
.supplier_color{ background-color : @suppliers ; }
.client_color{ background-color : @clients; }
.resource_color{ background-color : @resources ; }
.free_color{ background-color : @free ; }
.solo_color{ background-color : @solo ; }
.enterprise_color{ background-color : @enterprise ; }
.delegates_color{ background-color : @delegates ; }
.delegate75_color{ background-color : @delegate-75 ; }
.verydark_color{ background-color : @very-dark ; }
.verydark80_color{ background-color : @very-dark-80 ; }
.verydark60_color{ background-color : @very-dark-60 ; }
.dark_color{ background-color : @dark ; }
.dark40_color{ background-color : @dark-40 ; }
.dark30_color{ background-color : @dark-30 ; }
.medium_color{ background-color : @medium ; }
.light_color{ background-color : @light ; }
.light55_color{ background-color : @light-55 ; }
.light50_color{ background-color : @light-50 ; }
.light20_color{ background-color : @light-20 ; }
.verylight_color{ background-color : @very-light ; }
.verylight50_color{ background-color : @very-light-50 ; }
.danger_color{ background-color : @danger; }
.danger60_color{ background-color : @danger-60 ; }
.graymedium_color{ background-color : @gray-medium ; }
.graylight_color{ background-color : @gray-light ; }
.grayverylight_color{ background-color : @gray-very-light ; }
.grayverylight50_color{ background-color : @gray-light-50 ; }
.white_color{ background-color : @white ; }
