// Color-palette

// Stakeholder Palette
@group 			: #415464 ;
@mangers 		: #FF8400 ;
@suppliers 		: #8B8D4A ;
@delegates      : #00609C;
@clients		: #76236D ;
@resources 		: #A8353A ;

// SYSTEM PALETTE
@very-dark:         #131E29;
@very-dark-medium:  #71787F; //This color is previously commented as @very-dark-60 in style guide
@very-dark-light:   #B8BCBF;
@dark:              #253746;
@dark-medium:       #A8AFB5; //This color is previously commented as @dark-40 in style guide
@dark-light:        #D1D2D7; //This color is previously commented as @dark-20 in style guide

// SYSTEM PALETTE (CONT.)
@medium:            #768693;
@medium-mid:        #BEC3C8; //This color is previously commented as @dark-35 in style guide
@medium-light:      #A4BCC4; //This color is previously commented as @light in style guide
@light:		        #CDDADF; //This color is previously commented as @light-55 in style guide
@very-light:	    #ECF0F1; //This color is previously commented as @very-light-50 in style guide
@very-very-light:   #EDF2F3; //This color is previously commented as @light-20 in style guide

// FRONT PALETTE
@gray:				#63666A;
@gray-medium:       #C8C9C7;
@gray-light:        #D9D9D6;

// ICON PALETTE
//@very-dark:		@very-dark;
@icon-medium:		#566573;
@icon-light:		#C0CFD5;

// DANGER PALETTE
@danger:            #FF0000;
@danger-medium:     #FF6666; //This color is previously commented as @danger-60 in style guide
@danger-light:      #F2DEDE;

// EVENT MANAGERS PALETTE
@casual:			#E85D0B;
@solo:				#FE3900;
@enterprise:		#8C1F00;
//@delegates: 		@delegates;

// VENUE MANAGERS PALETTE
@venue-group:       #C5C3A0; //This color is previously commented as @suppliers-50 in style guide
@venue-brand:       #A3A26B; //This color is previously commented as @suppliers-80 in style guide
@venue:				@suppliers;

@white		: #fff ;

/***********color classes*********************/

.group_color{ background-color : @group ; }
.managers_color{ background-color : @mangers ; }
.supplier_color{ background-color : @suppliers ; }
.client_color{ background-color : @clients; }
.resource_color{ background-color : @resources ; }
.delegates_color{ background-color : @delegates ; }


.verydark_color{ background-color : @very-dark ; }
.very_dark_medium{ background-color : @very-dark-medium ; }
.very_dark_light{ background-color : @very-dark-light ; }

.dark_color{ background-color : @dark ; }
.dark_medium{ background-color : @dark-medium ; }
.dark_light{ background-color : @dark-light ; }

.medium_color{ background-color : @medium; }
.medium_mid{ background-color : @medium-mid; }
.medium_light{ background-color : @medium-light; }

.light_color{ background-color : @light; }
.very_light{ background-color : @very-light ; }
.very_very_light{ background-color : @very-very-light ; }

.gray_color{ background-color : @gray ; }
.gray_medium{ background-color : @gray-medium ; }
.gray_light{ background-color : @gray-light ; }

.icon_medium{ background-color : @icon-medium ; }
.icon_light{ background-color : @icon-light ; }

.danger_color{ background-color : @danger; }
.danger_medium{ background-color : @danger-medium ; }
.danger_light{ background-color : @danger-light ; }

.casual_color{ background-color : @casual; }
.solo_color{ background-color : @solo ; }
.enterprise{ background-color : @enterprise ; }

.venue_group{ background-color : @venue-group; }
.venue_brand{ background-color : @venue-brand; }
.venue_color{ background-color : @venue ; }

.white_color{ background-color : @white ; }


// Removed from StyleGuide
@free 			: #A6192e ;
@solo 			: #009ABF ;
@enterprise 	: #230871 ;
@very-dark-80:      #424B54;
@dark-30:           #B7C7CF;
@light-50:          #D2DEE2;
@delegate-75:       #4088B5;
@gray-very-light:   #D9D9D6;
@gray-light-50:     #E4E4E3;

.free_color{ background-color : @free ; }
.solo_color{ background-color : @solo ; }
.enterprise_color{ background-color : @enterprise ; }
.verylight_color{ background-color : @very-light ; }
.dark30_color{ background-color : @dark-30 ; }
.delegate75_color{ background-color : @delegate-75 ; }
.verydark80_color{ background-color : @very-dark-80 ; }
.light50_color{ background-color : @light-50 ; }
.graylight_color{ background-color : @gray-light ; }
.grayverylight50_color{ background-color : @gray-light-50 ; }
.grayverylight_color{ background-color : @gray-very-light ; }