/******styling for page only end**********/

//For Home Page
.homepagebg { 
	background: url("@{img_url}/bigicon.png") no-repeat scroll right top @very-very-light;  
	font-family: @font-proxima-semibold;  
	.mt(55px);.mb(64px);.padding(28px 0px 5px 0px);.border-radius(30px 30px 0 30px);
	&:extend(.w_100,.text-center);
	& .newman_slogan{
		.mt(-35px);.mb(60px);
		@media @desktop{
			.mt(0);.mb(77px);
		}
		& .blank {
			display: none;
			@media @desktop{
				display:block;
			}
		}
		.simplesequrebg {
			word-spacing: 6px;
			color: #768693;
			line-height: 36px;
			font-family:@font-proxima-semibold;
			&:extend(.font-medium);
			@media @tablet{
				font-size:26px;
			}
			@media @desktop{
				word-spacing: 30.9px;
				.font-xxlarge;
			}
		}
	}
	& .homebox_container {
		float: none;
		margin: auto;
		max-width: 280px;
		@media @tablet{
			max-width: 350px;
		}
		@media @desktop{
			max-width: 280px;
			.pull-left;
		}
		& .heading_top {
			margin-bottom: 40px;
			.border-radius(20px 20px 0);
		}
		& .bdr{
			.border-radius(20px 20px 0 0px);
		}
		& .freeBox h1 {
			color: @free;
			line-height: 78px;
			.padding(0 0 0 35px);
			position: relative;
			max-height: 70px;
			min-height: 70px;
			&:extend(.text-left,.font-xlarge);
			&.solo_fcolor{color: @solo;}
			&.enterprise_fcolor {color: @enterprise;}
			& .home_playicon {.position(absolute;@right:35px;@bottom:0px;);
				& > a {.position(relative;@top:4px;);}
			}
		}
		& .innercontainer {
			min-height: 320px;
			margin-bottom: 38px;
			padding: 28px 32px;
			position: relative;
			color: @white;
			.border-radius(0 0 0 22px);
			&:extend(.font-medium,.solo_color,.text-left);
			&.enterprise_color{&:extend(.enterprise_color);}
			& .price{
				.dolor {
					&:extend(.pull-left,.font-xxlarge);
					line-height: 55px;
				}
				h1 {
					line-height: 76px;
					font-size:110px;
				}
			}
			& .permonth {
				.mt(12px);
			}
			& .homeulcont { 
				border-top: 2px dashed @white; 
				.mt(15px);.pt(18px);
				& ul {
					.ml(16px);
					& li { 
						line-height: 26px;
					}
				}
			}
		}
	}
}
.centerlogocontainer {
	height: 56px;
	&:extend(.text-center,.w_100);
	.position(relative; @top : -80px; );
	@media @desktop{
		.position(@top : -98px; );
	}
	& img{
		max-width:100px;
		@media @desktop{
			max-width:100%;
		}
	}
}
.forgot_password{
	&:extend(.pull-right);
}
.forgot_password,.trouble_login{
	color:@medium;
	&:extend(.font-xsmall);
	@media @tablet{
		&:extend(.pull-right);
	}
}
.trouble_login,.user_register {
	.margin(auto);display: table;
}
.trouble_login{
	@media @tablet{
		.pull-right;.mt(20px);
	}
}
.user_register{
	color:@medium;
	.mt(20px);
	font-family:@font-proxima-semibold;
	&:extend(.font-small);
	@media @tablet{
		.position(absolute;@bottom:28px);
		white-space: nowrap;
	}
}
.rememberme_wrap{
	.w_100;
	@media @tablet{
		 width:auto;
		 .pull-left;
	}
	& label {
		.margin(20px auto);
	}
}
//Home Page Style End
/********** banner start *******/	
.mainBanner{position:relative;.common_prop;margin-bottom:35px;
	img{max-width:100%;}
	.bannerText{position:absolute;.common_prop;text-align:right;right:0;bottom:35px;padding:10px;background:url("@{img_url}/shade.png"); background-repeat:repeat-y;background-size:100% 100%;background-color:transparent;
		h1{.font-xxxlarge;font-weight:bold;font-family:@font-proxima-bold;line-height:30px;word-spacing: -9px;margin:0;
			.color1{color:@dark;}
			.color2{color:@medium;}
			.color3{color:@suppliers ;} 
		}
	}
}
/********* banner end **********/
.page_heading{	color : @mangers;	font-size : @xlarge; }
.color_box {	display: inline-block;	width: 200px;	height: 100px;	line-height: 100px;	text-align: center;	font-size:@mediumValue;	color:#fff;	margin-bottom:15px;	margin-right:10px; position:relative;vertical-align:middle;

&:after {content: "(.group_color)";position: absolute;bottom: 0;line-height: 48px;width: 100%;text-align: center;left: 0;}
.group_color&:after{content: "(group_color)";}.managers_color&:after{content: "(managers_color)";}.supplier_color&:after{content: "(supplier_color)";}.delegates_color&:after{content: "(delegates_color)";}.client_color&:after{content: "(client_color)";}.resource_color&:after{content: "(resource_color)";}.verydark_color&:after{content: "(verydark_color)";}.very_dark_medium&:after{content: "(very_dark_medium)";}.very_dark_light&:after{content: "(very_dark_light)";}.dark_color&:after{content: "(dark_color)";}.dark_medium&:after{content: "(dark_medium)";}.dark_light&:after{content: "(dark_light)";}.medium_color&:after{content: "(medium_color)";}.medium_mid&:after{content: "(medium_mid)";}.medium_light&:after{content: "(medium_light)";}.light_color&:after{content: "(light_color)";}.very_light&:after{content: "(very_light)";}.very_very_light&:after{content: "(very_very_light)";}.gray_color&:after{content: "(gray_color)";}.gray_medium&:after{content: "(gray_medium)";}.gray_light&:after{content: "(gray_light)";}.icon_medium&:after{content: "(icon_medium)";}.icon_light&:after{content: "(icon_light)";}.danger_color&:after{content: "(danger_color)";}.danger_medium&:after{content: "(danger_medium)";}.danger_light&:after{content: "(danger_light)";}.casual_color&:after{content: "(casual_color)";}.solo_color&:after{content: "(solo_color)";}.enterprise&:after{content: "(enterprise)";}.venue_group&:after{content: "(venue_group)";}.venue_brand&:after{content: "(venue_brand)";}.venue_color&:after{content: "(venue_color)";}

&:before{content: ""; position:absolute; top: -25px; left:50%; transform: translateX(-50%);}
.group_color&:before{content: "@{group}";}.managers_color&:before{content: "@{mangers}";}.supplier_color&:before{content: "@{suppliers}";}.delegates_color&:before{content: "@{delegates}";}.client_color&:before{content: "@{clients}";}.resource_color&:before{content: "@{resources}";}.verydark_color&:before{content: "@{very-dark}";}.very_dark_medium&:before{content: "@{very-dark-medium}";}.very_dark_light&:before{content: "@{very-dark-light}";}.dark_color&:before{content: "@{dark}";}.dark_medium&:before{content: "@{dark-medium}";}.dark_light&:before{content: "@{dark-light}";}.medium_color&:before{content: "@{medium}";}.medium_mid&:before{content: "@{medium-mid}";}.medium_light&:before{content: "@{medium-light}";}.light_color&:before{content: "@{light}";}.very_light&:before{content: "@{very-light}";}.very_very_light&:before{content: "@{very-very-light}";}.gray_color&:before{content: "@{gray}";}.gray_medium&:before{content: "@{gray-medium}";}.gray_light&:before{content: "@{gray-light}";}.icon_medium&:before{content: "@{icon-medium}";}.icon_light&:before{content: "@{icon-light}";}.danger_color&:before{content: "@{danger}";}.danger_medium&:before{content: "@{danger-medium}";}.danger_light&:before{content: "@{danger-light}";}.casual_color&:before{content: "@{casual}";}.solo_color&:before{content: "@{solo}";}.enterprise&:before{content: "@{enterprise}";}.venue_group&:before{content: "@{venue-group}";}.venue_brand&:before{content: "@{venue-brand}";}.venue_color&:before{content: "@{venue}";}}


.text-demo {display: block;margin-bottom: 15px; 
&.font-xxxlarge:before{content:"'font-xxxlarge'"} 
&.font-xxlarge:before{content:"'font-xxlarge'"}
&.font-xlarge:before{content:"'font-xlarge'"}
&.font-large:before{content:"'font-large'"}
&.font-medium:before{content:"'font-medium'"}
&.font-small:before{content:"'font-small'"}
&.font-xsmall:before{content:"'font-xsmall'"}

&.font-xxxlarge:after{content:' @{xxxlarge}'} 
&.font-xxlarge:after{content:' @{xxlarge}'}
&.font-xlarge:after{content:' @{xlarge}'}
&.font-large:after{content:' @{large}'}
&.font-medium:after{content:' @{mediumValue}'}
&.font-small:after{content:' @{small}'}
&.font-xsmall:after{content:' @{xsmall}'}
 }

.howItWork{padding:35px 50px 50px 50px;background:url("@{img_url}/logo290x256.png")no-repeat scroll center center;text-align:center;display:table; background-size:290px 250px;background-position:50px 30px;
	p{.font-large;.mB25;}
	.btnGroup{margin:0 auto;display:table;width:100%;text-align:center;
		.btn-greenWhite{background: transparent}
	}
}
.specialDiv{background:url("@{img_url}/banner2.png")no-repeat scroll center center;padding:40px 0;background-size:cover;position:relative;
	.circularInfo{display:table;width:210px; height:210px;.rounded100;background:rgba(19,30,41, 0.8);padding:45px 0;margin:0 auto;position:relative;z-index:1;
		.bdrDiv{border:1px;display:table-cell;vertical-align: middle;text-align: center;
			.squareDiv{max-width:135px;border:1.5px dashed @white;margin: 0 auto;border-left:none;border-right:none;padding:7px 0;
				h1{color:@white;font-family:@font-proxima-light;font-weight:100;font-size: 31px;line-height: 34px;
					span{font-size:33px;}
				}
				p{color:@white;font-family:@font-proxima-light;font-weight:100;}
			}
		}
	}
	.overLayColor{background:rgba(139,141,74, 0.75);width:100%;height:100%;position:absolute;top: 0;left:0;z-index:0;}
}

// style for tablet only

@media only screen and (min-width:630px) {
.btn{margin-top:0;}
.header{margin-bottom:40px;}
.userLoginBlock{display:inline-block;float:right;margin-left:0px;}
.logo {float: left;width: auto;margin-right:35px;
	img{float:none;}
}
.navToggleButton{display:none;}
.topBarNavigation ul{float:right;
	 li{width:60px;}
}
.top_nav{display:inline-block;float:right}
.footerWrappper .footer{text-align:left;}
.panel .panel_header{.font-large;line-height:@large;}
.sabPanel .sabPanel_header {.font-large;line-height:38px;}
.labelDiv{width:auto;float:right;padding-right:25px;margin-bottom:0;
	.form-label{margin-bottom:0;line-height:26px;text-align:right;}
	span{float:initial;.mT5;margin-right:-19px}
}
.labelDiv.pull-left{float:left;}
/*.editButtonGroup .btn.largeIco{width:38px;}
.editButtonGroup .btn .medium_icon {height:38px;line-height:38px;width:38px;}
.editButtonGroup .btn .medium_icon i {font-size: 19px;line-height: 38px;width: 38px;}*/
.sabPanel .editToggle + .editButtonGroup, .sabPanel .editToggle + .editButtonGroup.three{float:right;right: 15px;top: 9px;}
.inputFileWrapper{&:extend(.common_prop all);margin-top:7px;
	.fileName{padding:5px 10px;.font-small;font-family:@font-proxima-semibold;color:@very-dark;float:left;background:@dark-30;.rounded5;
max-width:48%;margin-top:0;
		span{cursor:pointer;margin-left:9px;word-wrap: break-word}
	}	
}
.fileName:nth-child(2n+2){margin-left:10px;margin-bottom: 7px;}
.fileName span:first-child{margin-left:0px; float: left;cursor: default;}
.uploadedName{margin-right:10px;}
.tableWrapper .table table tbody td .editButtonGroup .btn {margin-bottom:0;margin-right:7px;}
.tab-content .display_inline.pull-left.mT15{.mT15;margin-right:16px}
.tab-content .display_inline.pull-left.mT15.mTZero{margin-top:0;}
.tab-content .display_inline.pull-left.mRZero{margin-right:0;}
.btn-grayWhite.btn.mT15 {margin-top: 22px;}
.btn-grayWhite.btn.mT7 {margin-top: 7px;}
.howItWork .btnGroup .btn {float:none;}
}
#newman_icons .icon{ margin:5px 15px;}.demo_icon {display: inline-block;text-align: center;font-size: 15px;padding: 0 10px;}
.bg-register{background:@light;.border-radius(20px 0 0 20px);overflow:hidden;min-height:522px;}
.static-panel{height:70px; background:@group;.pl(35px);.pt(23px);.pb(23px); color:@white;}
.bgwhite{background:@white;}
a.btn-icon:hover .bgwhite{background:@white; color:@medium; } 
a.btn-icon:hover .bgwhite i{background:@white; color:@medium;border-radius:100%;} 
.bgwhite i{color:@very-dark;font-size:@xsmall;}
.createbtn{margin: 27px auto;display: inline-block;width: 100%;float: none;text-align: center;}
.createbtn button{float:none; background:@very-dark;}
.createbtn button .bgwhite i{color:@very-dark;}
.createbtn .supbtn{float:none; background:@mangers ;}
.createbtn .supbtn .bgwhite i{color:@mangers;}
.supbtn{ background:@mangers ;}
.supbtn .bgwhite i{color:@mangers;}
.home-logo{width:70px;.mt(17px);}
.static-footer{height:70px; background:@medium-mid;.pl(35px);.pr(35px);.pt(23px);.pb(23px);.mt(28px);color:@white; clear:both;width:100%;}
.bgIconRow{background:@very-light;overflow:hidden;.rounded20alt; }
.bgicon{}
.bgicon > div {width: 522px;height: 522px;overflow: hidden;position: relative;}
.bgicon > div i{font-size: 523px;position: absolute;top: -99px;right: -105px; color:@light;}
.infobar{background:@dark-light;.common_prop;.padding(5px 35px); p{.common_prop; width:calc(~"100% - 18px"); font-family:@font-proxima-semibold;}
.info_btn{.pull-right;}
}
.comment-input{color:@medium; font-family:@font-proxima-semibold;}
.regBoxContent{min-height:192px;}
.regBoxContent p:first-child, .second_para{font-family:@font-proxima-semibold; color:@group;}
.regBoxContent .btn-icon span{.mr(0px);}
.login-btn span{color:@medium; font-size:@small; font-family:@font-proxima-bold;}
.login-btn i{color:@white;}
.frgt_login{color:@medium;text-decoration: underline;}
.uploadedName .imgpreview:last-child{top:15%;}
.complete {margin-top: 5px;}
.sabPanel .withcomplete{.pr_35}
.loginbtn{color:@mangers; font-size:@small; .margin(0px 15px); line-height:28px;}
.dashboard_content p{font-size:@small; font-family:@font-proxima-regular; color:@medium; }
.dashlogo{width:170px; .pr(50px); .pull-right;}
.headWithout_login{background:@white;}
.static-footer .disable{background:@light;}
// style for desktop only

@media only screen and (min-width:1050px) {
.logo{float:left;}
.top_nav{width:auto;float:right;}
}

//calender style 
.ui-datepicker{background:@white; border:1px solid @very-dark-light;} .ui-datepicker tr{} .ui-datepicker th{color:@very-dark-medium; .font-small; .padding(5px);} .ui-datepicker td {color:@mangers; .font-small; .padding(5px); text-align:center; pointer:cursor; &:hover {background:@mangers; color:@white; .rounded100; }} .ui-datepicker td a{color:@mangers; &:hover {background:@mangers; color:@white; .rounded100;}} .ui-datepicker-header{border-bottom:1px solid @very-dark-light; .pb(10px); height:30px;}.ui-datepicker-title{color:@mangers; font-size: @small ;text-align:center; line-height:30px; } .ui-datepicker-prev{cursor:pointer;.pull-left; .margin(5px 5px); .padding(3px 5px);color:@white; background:@mangers; .border-radius(5px); } .ui-datepicker-next{cursor:pointer;.pull-right;; .margin(5px 5px); .padding(3px 5px);color:@white; background:@mangers; .border-radius(5px); }
