// Tab
/********** filers start *******/	
.filers{position:relative;.common_prop;&:extend(.pad35 all);padding-bottom:21px;background:@dark;.rounded20alt;
	.infoBar{.common_prop;background:@dark-light;padding:10px 35px 10px 7px;.mB15;
		p{font-family: @font-proxima-semibold;.font-xsmall;width:100%;display: inline-block;float:left;}
		.info_btn{float:right;margin-right: -25px;margin-top: 5px;}
	}
	.form-label{color:@white;}
}
/********* filers end **********/

.tabNav{list-style:none;padding-top: 21px;.common_prop;list-style:none;padding-bottom:5px;border-bottom: 1px solid @medium;.mB15;
	li{float:left;position: relative;
		a{.font-small;color:@suppliers ;font-family:@font-proxima-semibold;text-decoration:none;display: inline-block;
			span{margin-right:7px;background:@suppliers }
	
		}
		&:after{content:"";width:1px;display:inline-block;background:@medium;height:28px;margin:0 19px;float:right;}
		&:hover{a{color:@white;
			span{background:@medium;}
			}
		}		
	}	
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.tabNav li:last-child::after {display: none;}
.tabNav li.active a{color:@white;}
.tabNav li.active a span{background:@medium;}