//
// Navbars
// --------------------------------------------------

.panel {
	.border-radius(20px 20px 0px 20px);
	overflow:hidden;
	&:extend(.common_prop, .text-left all);	
	.transition;
	margin-top:20px;
	&:first-child{
		margin-top:0;
	}
	.panel_header{
		background:@dark;
		display: inline-block;
		&:extend(.common_prop all);
		color:@white;
		padding-right:35px;
		.font-medium;
		font-family:@font-proxima-regular;
		padding-top:23px;
		padding-bottom:23px;
		line-height:@mediumValue;
		padding-left:70px;
		background-image: url("@{img_url}/panel_icon.png");
		background-repeat:no-repeat;
		background-position:35px center;
		cursor:pointer;		
	}
	.panel_contentWrapper{
		.light50_color;
		width:100%;
		float:left;
		display:none;			
	}
	.panel_content{
		&:extend(.common_prop all);
		&:extend(.pad35, .font-small all);
		padding-bottom:30px;
		padding-top:15px;
			.row{float:left;}
	}
	.panel_footer{
		&:extend(.common_prop all);
		&:extend(.pad35 all);
		padding-top:21px;
		padding-bottom:21px;
		background:@medium-mid;
	}
	.scrollTopTrg{
		cursor:pointer;
		display: inline-block;
		text-decoration:none;
		color:@gray-medium;
		font-family:@font-proxima-semibold;
		.font-small;
		line-height:25px;
			img{float: left;margin-right: 10px;margin-top: 7px;}
	}
}
/*.panel.open{overflow:visible;}*/
.panel.group .panel_header {background-color:@group;}
.panel.venueFinder.open .panel_header {background-color:@suppliers;color:@white;}
.panel.venueFinder .panel_header {background-color:@light;color:@dark;background-image: url("@{img_url}/panel_icon_dark.png");}
.panel.venueFinder .panel_header:hover{background-image: url("@{img_url}/panel_icon2_dark.png");}
.panel.open .panel_header, .panel .panel_header:hover, .panel.venueFinder.open .panel_header:hover{background-image: url("@{img_url}/panel_icon2.png");}
.panel.open .panel_header{.rounded20Zeroalt;}
.panel.open .panel_contentWrapper{.roundedZero20alt;}
.panel [class*="col-"]{text-align: left;}
		/********sab panel style******/
		
.sabPanel {
    overflow: hidden;
	&:extend(.common_prop all);	
	.transition;
	position:relative;
	margin-top:10px;
	&:last-child{
		margin-bottom:30px;
	}
	.sabPanel_header{
		background:@medium;
		display: inline-block;
		&:extend(.common_prop all);
		color:@white;
		padding-left:35px;
		padding-right:5px;
		.font-medium;
		font-family:@font-proxima-regular;
		padding-top:9px;
		padding-bottom:9px;
		line-height:@mediumValue;
		padding-left:57px;
		background-image: url("@{img_url}/sabpanel_icon.png");
		background-repeat:no-repeat;
		background-position:29px center;
		cursor:pointer;
		position:relative;
       &:hover{background-image: url("@{img_url}/sabpanel_icon2.png");} 
	}
	.sabPanel_contentWrapper{
		.light50_color;
		width:100%;
		float:left;
		display:none;			
	}
	.sabPabPanel_content{
		&:extend(.common_prop all);
		&:extend(.pad35 all);
		padding-bottom:30px;
		padding-top:15px;
	}
	.sabPanel_footer{
		&:extend(.common_prop all);
		&:extend(.pad35 all);
		padding-top:21px;
		padding-bottom:21px;
		background:@medium-mid;
	}
	.sabPanelScrollTopTrg{
		cursor:pointer;
		display: inline-block;
		text-decoration:none;
		color:@group;
		font-family:@font-proxima-semibold;
		.font-small;
		line-height:25px;
			img{float: left;margin-right: 10px;margin-top: 7px;}
	}
}
.sabPanel.open .sabPanel_header{background-image: url("@{img_url}/sabpanel_icon2.png");}
.sabPanel.open + .sabPanel{margin-top:0;}
.editButtonGroup{float:left;display:block;
	.btn{background:transparent;padding:0;.rounded100;width:28px;float:left;margin-top:0;
		span{margin-left: -2px;}
	}
	.btn{.mL10;
		span{}
		&:hover span{background:@gray-medium;}
	}
	.btn.red{.mL5;
		span{background:@danger;}
		&:hover span{background:@danger-medium;}
	}
}
.sabPanel:last-child{margin-bottom: 30px;}
.sabPanel.open:last-child{margin-bottom:0px;}
.sabPanel.open:last-child, .panel.open .sabPanel.open:last-child{margin-bottom:0px;}
.panel.open .sabPanel.open:last-of-type {margin-bottom: 0;}
.panelSeprator {border-color:@dark;border-style: dashed none none;border-width: 1px medium medium;  margin: 20px 0;display:inline-block;width: 100%;}
@media @tablet{
	.panel .panel_header{ .font-large; line-height:@large;}
	.sabPanel .sabPanel_header {.font-large;line-height:38px;}
} 
