.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.rounded20(@radius: 20px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.rounded20alt(@radius: 20px 20px 0px 20px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.rounded20altbtm(@radius: 0px 0px 20px 20px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.rounded20altontp(@radius: 0px 20px 0px 0px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.rounded20Zeroalt(@radius: 20px 20px 0px 0px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.roundedZero20alt(@radius: 0px 0px 0px 20px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.userSelect(@no: none) {
  -webkit-user-select: @no;
     -moz-user-select: @no;
      -ms-user-select: @no;
          user-select: @no;
}
.rounded5(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.rounded0(@radius: 0px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.rounded100(@radius: 100%) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}