.conformation_content{ background:@gray-light;
.first-hedng{ .mb(20px);
h1{.ml(0px);font-size: @small;text-align: center;   font-size: @small; .ml(10px); color:@very-dark;

@media @tablet{.ml(55px);font-size:@xlarge; color:@very-dark; text-align:left;}
}
} 
.scnd-hedng{.mb(20px);
.lft-txt-mrgin{.ml(0px); @media @smallMobile{.ml(0px);} @media @tablet{.ml(55px);}
p{.ml(10px); font-size: @small; text-align:center; color:@very-dark;font-weight: normal; @media @tablet{font-size: @large; text-align:left;}
span{.w_100;}
}
}
}
.thrd-hedng{
.lft-txt-mrgin{.ml(0px);@media @smallMobile{.ml(0px);}@media @tablet{.ml(55px);}
h3{color:@very-dark;font-size: @small; text-align:center; .pt(0px);font-weight: normal; .mb(17px);@media @smallMobile{.mb(17px);}@media @tablet{.mb(40px);.ml(10px); text-align:left; .pt(0px);}}
}
}
.contact-txt{width:160px;@media @smallMobile{width:160px;}@media @tablet{width:100%;}
h3{color:@very-dark; .pl(0px);.ml(0px); @media @smallMobile{.pl(0px);.ml(0px);}
@media @tablet{.ml(50px);color:@very-dark; .pt(10px);}
}
p{.pl(0px);.ml(0px);font-size:@xsmall; .mb(2px);@media @smallMobile{.pl(0px);.ml(0px);}
@media @tablet{.ml(20px); .pl(30px);font-size:@xsmall; .mb(2px);}
}
}
.attendees-sec{.mt(20px);
h5{.ml(0px); .pl(0px); color:@very-dark;@media @smallMobile{.pl(0px);.ml(0px);}
@media @tablet{.ml(50px); .pl(18px); color:@very-dark;}
}
p{.ml(0px); .pl(32px); color:@very-dark;font-size:13px;@media @smallMobile{.pl(32px);.ml(0px);}
@media @tablet{.ml(50px); .pl(50px); color:@very-dark;.mb(2px);.mt(2px);font-size:@xsmall;}
}
}
.attendees-one{.mt(25px);border-top: 1px solid #B9B9B9;.pt(25px);
h5{.ml(0px); .pl(0px); color:@very-dark;@media @smallMobile{.pl(0px);.ml(0px);}
@media @tablet{.ml(50px); .pl(18px); color:@very-dark;}
}
p{.ml(0px); .pl(32px); color:@very-dark;font-size:13px;@media @smallMobile{.pl(32px);.ml(0px);}
@media @tablet{.ml(50px); .pl(50px); color:@very-dark;.mb(2px);.mt(2px);font-size:@xsmall;}
}
}
.social-share{.mt(30px);.pt(30px);border-top: 1px solid #B9B9B9;
p{.ml(0px);.pl(0px);@media @smallMobile{.pl(0px);.ml(0px);}
@media @tablet{.pl(34px);.ml(34px);}
}
ul{list-style:none; .ml(0px); .pl(0px);.mt(13px);@media @smallMobile{.pl(0px);.ml(0px);}
@media @tablet{.pl(34px);.ml(30px);}
}
li{float:left;.mr(10px);
.large_icon{background-color:@gray;}
}
}
.panel_footer{.pt(20px);.pb(20px);}
.conform-btn{.mt(50px);}
.conformation-footer-mainarea.common_prop{.mt(30px);.mb(30px);}
.bookng-id{
p{float:right;}
}
.bookng-id-txt{float:right;.mt(10px);width:116px;@media @smallMobile{width:90px;}
@media @tablet{.mt(10px);.pull-right;}

p{font-family: 'ProximaNovaAltsemibold';float:right;font-size:12px;@media @smallMobile{font-size:@xsmall;}
@media @tablet{.pull-right;font-size:@xsmall;.mr(35px); .pr(35px); font-family: 'ProximaNovaAltsemibold';}
}
}
.frontNavigation ul li { .mb(0px);  width: auto; height: 38px; text-align: right; .mr(20px); float: none;
&:hover{background:none; }	@media @tablet{float:left;}
	
}

.conformation-logo-hdngsec{.mt(25px); background:@very-dark; border-top-right-radius: 0px; border-top-left-radius: 0px; 
@media @desktop{border-top-right-radius: 21px; border-top-left-radius: 25px;}
.col-3{width:50%; @media @desktop{width:210px;}}
.col-12{width:50%; @media @desktop{width:840px;}
h1{font-size:@mediumValue; @media @smallMobile{font-size: @small; .pl(6px);} @media @desktop{font-size:@large;} }
}
h6{color:@white; font-size:@xsmall; .mt(9px); @media @smallMobile{font-size: 9px; .mt(1px); .pl(6px);}}
p{color:@white;  @media @smallMobile{font-size: 10px; .mt(5px); .pl(6px);}}
 }
img{border-top-left-radius: 0px; @media @desktop{border-top-left-radius: 21px;}}

.conformation_content_rgeisterbox{background:@gray-medium; text-align: center; border-bottom-left-radius: 0px; @media @desktop{border-bottom-left-radius: 21px;} 
.btn-normal{.mt(20px); .mb(20px); }
}
.conformation_content_inner_sec{.pb(0px); .pt(25px); border-bottom-left-radius: 21px; background:@very-very-light; @media @desktop{.pt(50px);}
.responsive-pedng { padding: 0px 10px; @media @desktop{padding: 0px 0px;}}
.info_btn{background-color:#65646a; background-image:url("@{img_url}/msg-icn.png");}
.col-9{.pl(10px);@media @desktop{.pl(10px);}
.panel{border-radius: 0px; @media @desktop{border-radius: 20px 20px 0px;}}
.panel.open .panel_header { border-radius: 0px 0px 0px 0px; @media @desktop{border-radius: 20px 20px 0px 0px;}}
}
.col-6{.pr(10px);}
.panel_content{background:@gray-light; .pl(25px); .pr(25px);}
.panel_footer{background:@gray-medium;}
.gap20{.mt(20px);}
}
.sub_banner{border:none; .clearFix;
h1{color:@white; .text-left; font-size:@large; font-family:@font-proxima-regular; .padding(15px 35px);}
}
.venuedetail_rightPart{.pl(10px);
.responsive-sec { width: 50%; @media @desktop{width:50%;}}
.mT10{margin:0px;@media @desktop{.mt(10px);}}
p{.mt(20px); .mb(27px); font-family:@font-proxima-bold; font-size :@mediumValue; text-align: center; @media @desktop{.mt(0px); text-align: left;}}
a{.ml(50px); color:@solo;}		
.center_content{display: flex;align-items: center;justify-content: flex-start; width:100%; .mb(10px); @media @desktop{ margin:0px;}
.lrg-font { font-size: @small;}
span {.pull-left;
.sml-font { font-size: @xsmall;}
&:nth-child(2){.ml(10px); font-size:@xsmall; font-family:@font-proxima-semibold; color:@very-dark; }
img{width:66px; height:66px; .rounded100; }
}
}
}
}

  
