//
// Dropdown menus
// --------------------------------------------------

.profileMenu{
	margin: 0 auto;width:140px;.position(absolute;200%;0;auto;0;1);.transitionEarly;height:0;overflow:hidden;opcity:0;.group_color;
	ul{list-style:none;font-family:@font-proxima-semibold;.padding(10px);
		& li{.mb(7px);&:extend(.w_100); display:inline-block;width: 100%;
			a{color:@white;text-decoration:none;display:inline-block;&:extend(.font-small);}
			&.active a,&:hover a{color:@dark-medium;}
			&:last-child{.mb(0);}
		}		
		& hr{.dark_medium;height:1px;width:100%;.margin(10px 0 10px);}
	}
	&:before{width:0;content:"";.position(absolute;-9px;0;auto;0);margin:0 auto;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid @group;}
	&.menuShow{opacity:1;height:auto;top:100%;overflow:visible;}
}

.Menuresponsive{ clear:both; margin: 0 auto;width:140px;.position(absolute;);height:0;overflow:visible;opcity:0;.icon_medium; 
	@media @desktop{background:transparent;}
	@media @tablet{background:transparent; clear:none;}
	ul{list-style:none;font-family:@font-proxima-semibold;.padding(10px);
		& li{.mb(7px); display:inline-block;width: 100%;
			a{color:@white;text-decoration:none;display:inline-block;&:extend(.font-small);}
			&.active a,&:hover a{color:@dark-medium;}
			&:last-child{.mb(0);}
		}		
		& hr{.dark_medium;height:1px;width:100%;.margin(10px 0 10px);}
	}
	&:before{width:0;content:"";.position(absolute;-9px;15px);margin:0 auto;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid @icon-medium; 
@media @desktop{.display_none;} @media @tablet{.display_none;}}
}
