/************* inner theme content **************/
#theme_contener{.w_100; .pull-left;
 .theme_wrapper{.w_100; .pull-left; height:auto; box-sizing:border-box;
  .theme_box{.text-center;.w_100; .pull-left;
   .theme_head{.mb(10px); .padding(0px 23px); .pull-left; width:100%; display:block; background:@white;
    .as_small_nav{.padding(0px); .margin(0px); list-style: outside none none; .pull-left; 
	 li{.pull-left; font-size:10px; .pr(16px); line-height:38px;
	 }
	}
   }  
   .theme_header{.display_inline; height:200px; .mt(19px); .mb(-4px); width:~"calc(100% - 34px)"; position:relative; overflow:hidden; .margin(auto);.rounded20Zeroalt; 
    .draggableParent{position:absolute; .w_100; .pull-left; height:200px; left:0px; top:0px;
	 #draggable_{border: medium dashed;background: transparent;  @media @desktop{top:;}}
	 .as_themeBannerImg img{.rounded0;}
	 }
	 .boxSep{.rounded20Zeroalt; overflow:hidden;
	  .frame{overflow:hidden;.rounded20Zeroalt; .mb(20px);
	   img{@media @smallMobile{height:134px;} width:100%; .rounded0;}
	   }
	  }
	}
   .beyond_wrapper{.padding(12px 15px); font-size:@mediumValue; .text-left; width: ~"calc(100% - 34px)"; .margin(auto 17px 5px); .roundedZero20alt; .display_inline; min-height:125px; .pull-left;
     .bw_left{.display_inline; width:59%;
	 h1, h3{font-weight:bolder; background:transparent; .rounded0; .padding(0px 0px 5px 18px); .mb(0px); letter-spacing:0px; .pull-left;}
	 h1{font-size:@large;}
	 h3{font-size:@small;}
	 span.title_sub{font-size:10px; line-height:1.5em; .text-left; .w_100; .pull-left; .pl(18px); .mb(5px);}
	 p{font-size:0.531em; .pl(18px); line-height:9px; .mb(15px); .pull-left; width:100%;}
	 }
	.bw_right{width:41%; .padding(17px 18px 15px 0.5em); .text-left; position:relative;
	 .template_login{background:url("@{img_url}/arrow_right.png") no-repeat scroll center center black;border-radius: 100%; height: 16px; position: absolute; right: 0px; top: 60px; width: 16px; background-size: 50% auto;}
	 p{font-size:12px; .pull-left; .mb(0px); width:100%; max-width:199px;}
	 a.pull-right{.pull-left; width:100%; max-width:199px; .text-right; .mb(6px); font-size:0.406em; line-height:10px; .mt(2px);}
	 span.bw_logintitle{font-size:0.531em; .pull-left; width:100%; line-height:0.8em; .mb(5px);}
	 span.bw_logintitle + .pull-left{min-width:199px;}
	 input[type="text"], input[type="password"]{width:100%; box-shadow:none; text-shadow:none; background:@white; font-family:@font-proxima-regular; font-size:0.531em; color:#000; 
	 height:16px; max-width:199px; box-sizing: border-box; .padding(0px 5px); line-height:16px; min-height:16px; border-color:@white; border:0px;}
	 .input[type="text"]{.mb(5px);}
	 } 
   }
    .block_wrapper{box-sizing: content-box; .ml(auto); .mr(auto); width:~"calc(100% - 34px)"; .pull-none; .rounded20alt; overflow:hidden; .text-center;
     .as_block{position:relative; .text-center; .display_inline; .pull-left; width:20%; height:116px; max-width:119px;
	 span.block_count{background:@white; width:22px; .display_inline; position:absolute; top:15px; min-height:22px; line-height:22px; .rounded100; color:#333; font-size:10px; right:20px; @media @tablet{font-size:12px;}}
	 img{.mt(17px); max-width:56px;}
	}
   }
  .themeSponsorsLogos{display:block; .pull-none; .margin(10px auto 15px);.padding(0px); width:~"calc(100% - 34px)"; .rounded20alt; overflow:hidden; background:@white; height:153px; border:1px solid #eee;}
  .as_themefooter{ width:100%; .margin(0px auto); .display_inline; background:@white; .padding(8px 6px);
   img{.pull-left; .mt(3px); max-width:32.3%;}
   .as_small_social{.padding(0px); .margin(0px); .pull-left; list-style: outside none none; @media @tablet{.pull-right;}
    li{width:22px; height:22px;.pull-left; .mr(5px);
     img{ max-width:100%; }
     }
	}
   }
  } 
 }
}

/************* inner preview theme content **************/
#theme_contener{
 .preview_theme{
  .theme_box{
   .ui-widget-content{@media @tablet{} @media @desktop{max-width:auto; max-height:auto;}}
   .theme_header{height:134px; @media @tablet{height:200px;} @media @desktop{height:345px;}  .mt(15px);
      .draggableParent{position:absolute; .w_100; .pull-left; height:200px; left:0px; top:0px;
	 #draggable_{border:none;background: transparent;  @media @desktop{}}
	 .as_themeBannerImg img{.rounded0;}
	 }
   }

   .beyond_wrapper{.padding(15px 15px 30px); .mt(-4px);  @media @tablet{.padding(15px 35px 30px);} .mb(7px);
    form{.display_inline; width:100%; @media @tablet{ width:41%;} .padding(18px 0px 0px);}
	.bw_right{.w_100; .padding(0px);
	span.bw_logintitle{font-size:@small;}
	input[type="text"], input[type="password"]{width:90%; @media @tablet{width:185px;} @media @desktop{width:350px;} height:35px; max-width:100%; .mt(5px); font-size:@small;}
	a.pull-right{.pull-right; font-size:@xsmall; .mt(5px);}
	p{max-width:100%;}
	.template_login{height: 25px; width:25px; top:65px; border:0px;}
	}
    .bw_left{width:100%; @media @tablet{width:59%;}
	  h1, h3{.padding(0px); clear:both;}
	  h1{font-size:@xlarge;}
	  h3{font-size:@large; .mt(5px);}
	  span.title_sub{.pl(0px); font-size:@mediumValue; line-height:18px;}
	  p{font-size:@small; .pl(0px); line-height:18px;}
	}
   }
   .block_wrapper{ height:150px; .mb(0px); @media @tablet{height:205px;}
    .as_block{ height:150px; width:100px; @media @tablet{height:205px; width:210px;} max-width:100%;
	 span.block_count{width:18px; min-height:18px; line-height:18px; right: 15px; @media @tablet{width:28px; min-height:28px; line-height:28px; right: 25%;} top: 30px;}
	 .parent_count{position:relative; margin:0px auto; max-width:105px;}
	 img{max-width:70%; @media @tablet{max-width:100%;} .mt(30px);}
	 p{.mt(10px); font-size:10px; @media @tablet{font-size:@small;} font-weight:bold;}
	 }
	}
   .themeSponsorsLogos{height:100%; .mt(5px);}
     .as_themefooter{ width:~"calc(100% - 34px)"; .margin(0px auto); min-height:40px; .display_inline; background:@white; .pb(25px);
   img{max-width:100%; .pull-left; .mt(3px);}
   .as_small_social{.padding(0px); .margin(0px); .mt(20px); list-style: outside none none;.pull-left; clear:both; @media @desktop{.mt(-35px); .pull-right;} 
    li{width:38px; height:38px; .pull-left; .mr(5px); @media @tablet{width:38px;}}
	.customLi{width:38px; height:38px; .mt(5px); text-align:center; @media @tablet{width:38px; height:38px;}
 .customLia{.pl(0px); text-align:center; font-size:28px; @media @tablet{font-size:28px;}}
 }
	}
   }
  }
 }

}

.rounded20alt{.rounded20alt; display:inline-block;}
.overflow_visible{overflow:visible;}
.overflow_visible1{overflow:visible;}
.panel_header .customSelectWrapper{.pull-right; display:table; left:0;  position: absolute;}
.panel_header  .select-wrapper { position: relative;  float: right;
  width: 160px;}
.theme_editor_panel_as {display:inline-block;.pull-left;position: absolute;right: -70px; top:55px;}
.optionDiv_as{background:#263645;display: inline-block;.pull-left;height: 100%;width: 70px;position:relative;}
.primaryOption_as {.pull-left;margin: 0;padding: 5px 0px;width: 100%;list-style:none;display:table; text-align:center;}
.primaryOption_as li {border-radius: 100%;float: none;margin: 0 auto;max-width: 40px;padding: 0; line-height:20px; position:relative; display:inline-block;}
.primaryOption_as li:last-child{margin-bottom:0;}
.primaryOption_as a, .colorOption_as li a {display: inline-block;.pull-left;width: 100%;padding: 6px 0; position:relative;}
.primaryOption_as a.custom_input_file_as.triggerInputFile.btn.medium.ml_zero.reset_form{padding:5px 14px;}
.primaryOption_as li a img {width:22px;}
.primaryOption_as li a span{color:#fff; font-size:@xsmall;display: inline-block;.pull-left;width: 100%;}
.optionContent_as {display:inline-block;.pull-left;left:-265px;margin: 0;position: absolute;top: -5px;width:0px;;overflow:hidden;-moz-transition: opacity ease .51s;-o-transition: opacity ease .51s;-webkit-transition: opacity ease .51s;transition: opacity ease .51s;z-index: 1;opacity:0;}
.trg.effect + .optionContent_as{width:250px;opacity:1;z-index:1;}
.optionContent_as h4{background:#00609c;padding:12px 20px;.pull-left;margin:0;width: 100%;display: inline-block;color:#fff; font-size:@small;}
.customHead_as > span {.pull-right;cursor:pointer;}
.optionContentMain_as{display:inline-block;.pull-left;width:100%;.padding(15px);background:#394856}
.mainImg{display:inline-block;.pull-left;width:100%;background:#253746}
.mainImg img{width:100%;}
.trg.effect:before{width: 0;height:0;border-top:10px solid transparent;border-bottom: 10px solid transparent;border-right:10px solid #253746;content:"";
top:25px;left:-25px;position: absolute;width: 9px; z-index:2;}
.centerBlock{display:inline-block;width:100%;text-align:center;}
.centerBlock .center{margin:20px auto 0;}
.centerBlock .medium.or_d {color: #fff;margin: 0 0 4px;text-align: center;width: 100%; font-size:@mediumValue; font-family:@font-proxima-bold; .pull-left; line-height:35px;}
.centerFloat{margin:0 auto;diplay:inline-block;float:none;}
.centerBlock .optioHeadr {display: inline-block;float: none;line-height: 13px;margin:0px auto 0;max-width: 135px; .pt(20px); font-size:@small; font-family:@font-proxima-bold; color:@white; }
.colorOption .optioHeadr.xsmall{margin-bottom:10px;text-align: center;width: 100%;display: inline-block; color:@white;}
.colorOption .optioHeadr.xsmall:last-child{margin-bottom:0;}
.optionContent_as.colorOption .optionContentMain_as{padding-left:0;padding-right:0;}
.optionContent_as.colorOption .optionContentMain_as .center {display:table; margin:0px auto;}
.optionContent_as.colorOption::before{top:25px;}
.optionFooter_as {background:#b2c4cd;display:inline-block;float:left;padding: 20px 15px;text-align: right;width: 100%;}
.label_text {  font-family:@font-proxima-semibold; font-size:@small;  left: 8px;  position: absolute;  top: 3px;}
.primaryOption_as li a span.ico {margin-bottom: 5px;max-width: 45px;padding:11px 9px;border-radius:100%;background:#394856;}
.centerBlock input.short_field.color[type]{border-radius:0;}
.centerBlock input.short_field.color[type]:focus{box-shadow:none;}
.trg.effect + .optionContent_as.colorOption{max-width:85px;left:-100px;top:0px;}
.center input.small.color.short_field[type]{border-radius: 100% !important;color: transparent !important;height:40px;width: 40px; border:none;}
.center input.small.color.short_field[type]:focus{box-shadow:none;}
.centerBlock .btn{.padding(8px 14px); font-size:@mediumValue; font-family:@font-proxima-bold; color:@white; display:block;}
.centerBlock .customFileWrapper + .inputFileWrapper{display:none;}
//custome css

.frame{ overflow:hidden;}
#content{padding:0px;}

#draggable{
  border: dashed;
  background:none;
}
#draggable {
  width: 82px;
  height: 78px;
    z-index: 1;
}
.bootbox-confirm .modal-header.theme_customizer_confirm + .modal-header {
display: none;
}

.custom-upload {  background: url("../images/filedrop_btn.png") no-repeat scroll 98% center #fff;  border: 1px dashed #2F424E;  display: inline-block;  position: relative;  width: 100%;  margin-bottom:10px;  cursor:pointer;  min-height:28px; height:28px;}
.custom-upload.add_margin {  margin-bottom:50px;}
.custom-upload > input[type="file"] {  opacity: 0;  position: relative;  z-index: 1;  cursor:pointer;}

.template_login {
  background: url("../images/arrow_right.png") no-repeat scroll center center black;
  border-radius: 100%; height: 16px; position: absolute; right: 18px; top: 49px; width: 16px; background-size: 50% auto;
}
//jquery.guillotine.css 

body.guillotine-dragging, body.guillotine-dragging * {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor:    -moz-grabbing !important;
  cursor:         grabbing !important;
  cursor: grabbing, move;  /* IE hack */
}

.guillotine-window {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: move;
  cursor: -webkit-grab;
  cursor:    -moz-grab;
  cursor:         grab;
  cursor: grab, move;  /* IE hack */
}



.guillotine-canvas {
   position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  transition: initial;
}

.guillotine-canvas > * {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.guillotine-sample {
  position: absolute !important;
  top: -100000px     !important;
  left: -100000px    !important;
  width: auto        !important;
  height: auto       !important;
}
#controls {
  margin-bottom: 0px;
  position: absolute;
  bottom: 10px;
  right: 25px;
  display: none;
}
.boxSep.content:hover > #controls{display: block;}
#controls button {
  margin: 0 5px;
  min-width: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  border: none;
  padding: 0;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
}

#controls button:hover { background: rgba(0,0,0,0.8);color: #fff; }
#controls button:hover, #controls button:active, #controls button:focus{outline:none;}
#draggable:hover > #resetlogo{display:block;}
#resetlogo {
    cursor: pointer;
    color: #FFF;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.65) none repeat scroll 0% 0%;
    line-height: 19px;
    border-radius: 100%;
    top: -8px;
    right: -10px;
    position: absolute;
    z-index: 211;
    display: none;
    text-align: center;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
