.invitation_content{ background:@gray-light;
.txtright{
p{color:@gray;}
}
.navbar-toggle { background: none; display: block; margin: 0px; border: medium none; cursor: pointer; padding: 0px;
}
.frontNavigation {background: #39393B none repeat scroll 0% 0%; margin-top: 3px;position: relative;height: 218px;width: 100%;
 float: left;
 @media @tablet{background:none;}
}
.navToggleButton { float: right; display: inline-block; margin-top: 10px; width: 55px; @media @tablet{display: none; }
}
.frontNavigation ul li { margin-bottom: 0px;  width: auto; height: 38px; text-align: right; margin-right: 20px; float: none;
&:hover{background:none; }	@media @tablet{float:left;}
	
}
.responsive_content{
.col-3{@media @tablet{width:210px;}}
.col-5{@media @tablet{width:350px;}}
}
.frontNavigation.managers_nav{
ul{
li{
a{font-size:@xsmall; padding: 0px 4px; @media @desktop{font-size:@mediumValue; padding: 0px 8px;}
}
}
}
}
.customSelectWrapper{width:100%; @media @tablet{width:auto;}
.small_select {  width: 100%; @media @tablet{width:70px;}}
.medium_select {width:100%; @media @tablet{width:175px;}}
}
.footerWrappper{.mt(20px); @media @desktop{}}
.labelDiv{
}
.contentNavigation.manager_setup{
ul{
li{@media @smallMobile{width:135px;}background-size:1px; background:url("@{img_url}/line.png") no-repeat; background-position:0% 30%;  width: 170px; 
&:last-child{background:none;}
}
}
}
.panel_content{
.radioDiv{
.center-space{.ml(60px)}
}
}
.invitation-footer-mainarea{.mt(20px); @media @desktop{.mt(35px); .mb(35px);}}
.invitation-footer{
.ftr-inner{color: @gray; display: inline-block; .pl(20px); 
.powerd-text{font-size:@mediumValue; .mr(17px); .mt(10px); float:left; .ml(17px); @media @desktop{.ml(0px);  
}
@media @smallMobile{font-size:14px; .mt(4px);}}
img{}
}
}
.invitation-right-footer {
.ftr-inner{.mt(20px); .display_inline; .pull-left;  .mb(10px); @media @desktop{.mt(0px);.pull-right;}
ul{list-style: none; .ml(15px); @media @desktop{.ml(0px);}
li{ .pull-left; .ml(5px); @media @tablet{width:38px; height:38px;}}
.customLi{text-align:center; .pl(0px); @media @tablet{width:38px; height:38px;}
 .customLia{.pl(0px); text-align:center; @media @tablet{font-size:@xlarge;}}
 }
a{
li{float: left; margin-right: 7px; @media @desktop{.mr(12px);}
.large_icon {    background-color:@gray; height: 26px; width: 26px; @media @desktop{height: 38px; width: 38px;}
i{width: 27px; display: block; line-height: 27px;  font-size: 18.333px; @media @desktop{width: 38px; display: block; line-height: 38px;  font-size: 25.333px;} 
}
}
}
}
}
}
}
.header{.mt(0px); .mb(0px);
ul{max-width: none;
li{
a{color:@gray-medium; font-family:@font-proxima-semibold;}
}
}
}
.invitation-logo-hdngsec{.mt(25px); background:@very-dark; border-top-right-radius: 0px; border-top-left-radius: 0px; 
@media @desktop{border-top-right-radius: 21px; border-top-left-radius: 25px;}
.col-3{width:50%; @media @tablet{width:33%;} @media @desktop{width:210px;}}
.col-12{width:50%; @media @desktop{width:840px;}
h1{font-size:@mediumValue; @media @smallMobile{font-size: 14px; .pl(6px);} @media @desktop{font-size:@large; .mt(6px);} }
}
h6{color:@white; font-size:@xsmall; .mt(0px); @media @smallMobile{font-size: 9px; .mt(1px); .pl(6px);}}
p{color:@white;  @media @smallMobile{font-size: 10px; .mt(0px); .pl(6px);}}
 }
.logoFrontHead{
img{border-top-left-radius: 0px; @media @desktop{border-top-left-radius: 21px; width: 120px;}}}
.footer_bg{background:@gray-light; .mt(20px); @media @desktop{.mt(50px);}}
.chkbox-inner-sec{.ml(10px); .mb(25px); @media @desktop{.ml(55px);}
span{@media @smallMobile{font-size:10px;}}
}
.invitation_content_rgeisterbox{background:@gray-medium; text-align: center; border-bottom-left-radius: 0px; @media @desktop{border-bottom-left-radius: 21px;   min-height: 68px;} 
.btn-normal{.mt(20px); .mb(20px); }
}
.contentNavigation{ .w_100; .padding(15px 0px 15px 15px); .mb(0px); background:@gray-medium; @media @desktop{.padding(15px 0px 15px 55px);}}
.invitation_content_inner_sec{.pb(0px); .pt(25px); border-bottom-left-radius: 21px; background:@very-very-light; @media @desktop{.pt(50px);}
.responsive-pedng { padding: 0px 10px; @media @desktop{padding: 0px 0px;}}
.info_btn{ background:url("@{img_url}/infoimg.png") #ff8400 !important;background-size: auto 18px !important;}
.col-9{.pl(10px);@media @desktop{.pl(10px);}
.panel{border-radius: 0px; @media @desktop{border-radius: 20px 20px 0px;}}
.panel.open .panel_header { border-radius: 0px 0px 0px 0px; @media @desktop{border-radius: 20px 20px 0px 0px;}}
}
.col-6{.pr(10px);}

.panel_content{background:@gray-light; .pl(25px); .pr(25px);
 hr{background:@medium-mid; .w_100; height:1px; .mb(10px);
  &:last-child{.display_none;}
  }
 }

.rowB{.pl(0px); .pr(0px);
 .setRow {
  .gap25{.pl(25px); .pr(25px);}
  }
 }
 .customPadd{.pb_0;
  hr{
  &:last-child{.display_inline;}
  }
 }
 .mtzero{.pt(0px);}
.panel_footer{background:@gray-medium;}
.gap20{.mt(20px);}
}
.sub_banner{border:none; .clearFix;
h1{color:@white; .text-left; font-size:@large; font-family:@font-proxima-regular; .padding(15px 35px);}
}
.venuedetail_rightPart{.pl(10px);
.responsive-sec { width: 50%; @media @desktop{width:50%;}}
.mT10{margin:0px;@media @desktop{.mt(10px);}}
p{.mt(20px); .mb(27px); font-family:@font-proxima-bold; font-size :@mediumValue; text-align: center; @media @desktop{.mt(99px); text-align: left;}}
a{.ml(50px); color:@solo;}		
.center_content{display: flex;align-items: center;justify-content: flex-start; width:100%; .mb(10px); @media @desktop{ margin:0px;}
.lrg-font { font-size: 13px !important;}
span {.pull-left;
.sml-font { font-size: 10px;}
&:nth-child(2){.ml(10px); font-size:@xsmall; font-family:@font-proxima-semibold; color:@very-dark; }
img{width:66px; height:66px; .rounded100; }
}
}
}
//terms & condition
.themeSponsorsLogos{display:block; .pull-none; .margin(10px auto 15px);.padding(0px); width:100%; .rounded20alt; overflow:hidden; background:@white; height:100%; border:1px solid #eee;}
.responsive-pedng { padding: 0px 10px; @media @desktop{padding: 0px 0px;}
.terms-condition{
h1{.mb(30px);.ml(0px);.pl(0px); @media @desktop{.ml(30px);.pl(25px);}}
p{.mb(25px);.ml(0px);.pl(0px); font-size:14px; @media @desktop{.ml(30px);.pl(25px);}}
}
}
}


