// Labels

.form-label{
	color:@medium;
	font-size:@small;
	line-height:@small;
	white-space: nowrap;
	font-family:@font-proxima-semibold;
	&.red {
		background-color: transparent;
		color: @mangers ;
	}
}
.form-label.error{color:@danger;}
.labelDiv{float:left;width:100%;display:block;.mB5;
	.form-label{float:left;padding-right:20px;text-align:left;}
}
span.required{color:@mangers;padding: 0 10px 0 5px;margin-right:-20px;line-height:11px;float:right;}
.panel.group span.required{color:@group;padding: 0 10px 0 5px;margin-right:-21px;line-height:11px;float:right;}
