//
// Tooltips
// --------------------------------------------------

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade.in .modal-dialog {
  .transition(all .4s ease-out);
  .position(@top:50%;);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
}
.modal-dialog {
  .position(absolute;-50%;@left:50%;);
  width: 100%;
  margin: 10px auto;
  @media @tablet {width: 490px;}
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  .rounded20alt;
  outline: 0;
  overflow:hidden;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: @very-dark;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8;
}
.modal.in{height:100%;}
.modal-header {
  	background:@medium ;
	display: inline-block;
	&:extend(.common_prop all);
	color:@white;
	&:extend(.pad35 all);
	&:extend(.font-medium all);
	font-family:@font-proxima-regular;
	padding-top:22px;
	padding-bottom:22px;
	line-height:@large;	
	&.medium_color{&:extend(.medium_color);}
	&.danger_color{&:extend(.danger_color);}
	&.managers_color{&:extend(.managers_color);}
	&.supplier_color{&:extend(.supplier_color);}
	&.client_color{&:extend(.client_color);}
	&.resource_color{&:extend(.resource_color);}
	&.delegates_color{&:extend(.delegates_color);}


}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align:left;
}
.modal-body {
 	position: relative;
  	padding-top: 15px;
  	background:@light;
  	&:extend(.common_prop all);
}
.modal-body-content{
	&:extend(.pad35 all);
	padding-bottom:30px;
 	&:extend(.common_prop all);
}
.modal-body .labelDiv{margin-top:5px;}
.modal-footer {
  padding-top: 21px;
  padding-bottom:21px;
  &:extend(.pad35 all);
  &:extend(.common_prop all);
  background:@medium-mid;
}
@media (max-width: 629px) {
  
}
@media (min-width: 630px) {
  
  .modal-sm {width: 300px;}
  .modal-mid{width: 500px;}
}
