//
// Navbars
// --------------------------------------------------

	/******** for header style start*********/
.header{background:@dark-light ;clear:both;.common_prop; height:70px; @media @desktop{.mb(0px);}}	
.header.beforeLogin{background:@white;clear:both;.common_prop; height:70px; @media @desktop{.mb(0px);}}
.header.afterLogin{.mB15}
.top_bar{display: table;float: left;width: 100%; position:relative;}
.userLoginBlock{&:extend(.common_prop all);display:none;float:right;max-width:185px;text-align:left;margin-left:25px;position:relative;
	a{&:extend(.common_prop all);float: right;}
	&>a{.pr(10px);}&:hover>a{.dark_medium;}
}
.user_img {float: right;height: 38px;margin: 16px 0;overflow: hidden;width: 38px;.rounded100;img{min-height:38px;}}
.user_name {color:@white;float: right;padding-right: 10px;padding-top: 15px;text-align:right;padding-bottom: 15px;}
.user_name h4{line-height:20px;font-family:@font-proxima-semibold;font-weight:normal;}
.user_designation{font-family:@font-proxima-semibold;margin-top: 2px;clear: both;float: right;}
.logo{display:inline-block;float: left;margin:0px auto;width:100%; height:70px;
	img{max-width:140px;display:block;float: left;max-height:36px;margin: 17px auto;padding-left:10px;}
}
.delegate_nav{.pull-left;}
.top_nav{float: left;width:auto;display:none;}
.navToggleButton {display: inline-block;float: right;margin-top:0px; @media @desktop{margin-top:10px;}}
.navbar-toggle {background:transparent; display:block;margin:0;padding:0;border:none;cursor: pointer;padding:0 10px; height:70px;
	img{padding:0;}
}

.navbar-toggle.collapsed, .navbar-toggle:hover {background:@dark-medium; @media @desktop{background:transparent;}}
.topBarNavigation {display: block;height:auto;margin-top: 0;position: relative;top: 0;float:right;width: 100%;
    ul{list-style: none;margin: auto;max-width: 350px;padding: 0;
		li {float:left;margin-bottom: 0;width:20%;text-align: center;	
			a {color:@white;text-decoration:none;.font-xsmall;font-family:@font-proxima-semibold;line-height: 12px;padding-bottom:10px;padding-top:10px; height:70px;display: inline-block;@media @desktop{.font-xsmall}
            	span.large_icon {&:extend(.medium_color);}
							span.medium_icon {&:extend(.medium_color);}
            }
			&:hover{.dark_medium;}	
			&.active{
				position:relative;background:@dark-medium; 
				&:after{border-bottom:10px solid @very-dark-medium;border-left:11px solid rgba(0, 0, 0, 0);border-right:11px solid rgba(0, 0, 0, 0);bottom:0;content:"";height:10px;left:0;margin:0 auto;position:absolute;right:0;width:20px;}
			}		
        }    }
}
.frontNavigation {height:auto;margin-top: 0;position: relative;top: 0; .pull-right; display:none; z-index:999; @media @desktop{display:block;}
   ul{list-style: none;margin: auto;max-width:280px;padding: 0; .pt(20px); @media @tablet{max-width:100%;} 
   @media @desktop{.pt(0px);max-width: 100%;} 
		li {float:left;width:100%;text-align:left; .mB7; 
		@media @desktop{text-align:center; margin-bottom:0; width:auto;}
		@media @tablet{text-align:center; margin-bottom:0; width:auto;}		
			.managers_nav& a{color:@mangers;}.supplier_nav& a{color:@suppliers;}.resource_nav& a{color:@resources;}.delegates_nav& a{color:@delegates;}.clients_nav& a{color:@clients;}
			a {color:@white; &:hover{color:@dark-medium;} text-decoration:none;.font-small;font-family:@font-proxima-semibold;padding:0 8px;line-height:30px;display: inline-block; @media @desktop{line-height:70px; .font-medium;}}&:hover{background:@dark-medium; }
        }
    }
}
	
.beforeLogin {& .frontNavigation ul li {a{ @media @desktop{color:@mangers;} @media @tablet{color:@mangers;} &:hover{color:@dark-medium ;}}&:hover{background:@mangers; @media @desktop{background:transparent;} @media @tablet{background:transparent;} }}& .btn-green:hover{background:@very-dark;}}
.afterLogin {& .frontNavigation ul li {a{ @media @tablet{color:@mangers; font-size:@small; .padding(0px 5px); } @media @desktop{color:@mangers;font-size:@mediumValue; .padding(0px 8px);} &:hover{color:@white;}}&:hover{background:@suppliers; @media @desktop{background:@dark-medium;} @media @tablet{background:transparent;} }}
	.logo{@media @tablet{.mr(10px);} @media @desktop{.mr(35px);}}
	.userLoginBlock{max-width: 160px; .pull-right; @media @desktop{max-width: 185px;}
	.user_name{
	 h4{@media @tablet{font-size:@small;}}
	 }

	}
	.topBarNavigation {@media @desktop{width:28%; .display_inline;} .display_none; 
	ul li{@media @tablet{width: 45px;}@media @desktop{width: 60px;}}	
	}
}
	.navresponsive{display:block; @media @tablet{display:none;}
	 .logo{width:40%;}
	}
	.navnormal{display:none; @media @tablet{display:block;}}
.topBtnBar{text-align:right;float:right;padding:21px 0px; .display_none; @media @desktop{.display_inline;}}

.loginbtn{ position: absolute;right: 15%; .margin(0px)!important;text-align: center; width: 90px; @media @smallMobile{right:15%;} @media @tablet{position:relative; right:0px;}  @media @desktop{position:relative; right:0px;} 
li{background:@mangers; border-radius:5px; width:60px !important; height:30px; 
@media @tablet{background:transparent;}
@media @desktop{background:transparent;}
 &:hover{background:@mangers; @media @desktop{background:transparent;}} 
 }
}

	/******** for header style end*********/
	
/***********dashboard link*********************/
@stackholder_color	:@suppliers ;
.dashboard_link{
	.pt_20;
	.pb_20;
	.pull-left;
	width				: 175px;
	height				: 204px;
	display				: inline-block;
	text-align			: center;
	background-color	: @medium;
	color				: #ffffff;
	vertical-align		: top;
	position			: relative;
	
	.db_linktitle{
		.mt_15;
		font-size : @large;
		word-wrap : break-word;
		display	  : inline-block;
		width	  : 100%;
	}
	span.xxlarge_icon, span.xxlarge_icon:hover{
		background-color	: rgba(255,255,255,.4);
	}
	&:hover{
		background-color: @very-dark;
	}
	&.disabled{
		background-color	: @light;
		cursor				: default;
	}
}
/***********end dashboard link*********************/
	
.mainNavWrapper {.common_prop;}
.mainNavigation {.common_prop;.mB30;      
	ul {
		list-style:none;
		width:100%;
		li {
			float:left;
			padding-right:0px;
			a {
				min-height: 115px;
				line-height: 22px;
				padding: 20px 0;
				width: 104px;
				@media @desktop{width:175px;}
				.db_linktitle{.font-medium; @media @desktop{.font-large}}
				&.active{
					background-color: @mangers;
					.managers_dashboard&{background-color: @mangers;}
					.supplier_dashboard&{background-color: @suppliers;}
					.resources_dashboard&{background-color: @resources;}
					.delegates_dashboard&{background-color: @delegates;}
					.clients_dashboard&{background-color: @clients;}
					&:before{
						border-bottom	: 18px solid #FFFFFF;
						border-left		: 18px solid rgba(0, 0, 0, 0);
						border-right	: 18px solid rgba(0, 0, 0, 0);
						bottom			: 0;
						content			: "";
						height			: 0;
						left			: 50%;
						margin-left		: -16px;
						position		: absolute;
						width			: 0;
					}
				}
			}
		}
	}
}


/* Dashboard Sub Menu */
.contentNavigation {display:inline-block;width:100%;float:left;.mB30;
    ul {list-style:none;width:100%;float:left;
        li {text-align: center;float:left;display:inline-block;width:auto;min-height:114px;width:33.33%;
			@media @tablet{width:16.66%;background:url("@{img_url}/ul_bg.jpg");background-repeat:repeat-x; background-position:0px 30px; &:last-child{background:none;}}
			@media @desktop{width:13.5%;}
            a {float:left;max-width:68px;
				span{display:inline-block;}
				span.text{.common_prop;text-align:center;.font-medium;font-family:@font-proxima-semibold;color:@dark;line-height:@mediumValue;margin-top:8px; word-wrap:inherit;}
            }
			&.active a span{&.xlarge_icon{background:@mangers ;}&.text{color:@mangers }}
			.managers_setup&.active a span{&.xlarge_icon{background:@mangers ;}&.text{color:@mangers }}
			.supplier_setup&.active a span{&.xlarge_icon{background:@suppliers ;}&.text{color:@suppliers }}
			.resources_setup&.active a span{&.xlarge_icon{background:@resources ;}&.text{color:@resources }}
			.delegates_setup&.active a span{&.xlarge_icon{background:@delegates ;}&.text{color:@delegates }}
			.clients_setup&.active a span{&.xlarge_icon{background:@clients ;}&.text{color:@clients }}
       }		
    }
}

.contentNavigation ul li a:hover span.xlarge_icon{background:@group;}
.contentNavigation ul li a span.disable{background:@light;
&:hover{background:@light;
span.text{color:@light;background: none;
}
}
&:nth-child(2){color:@light;background: none;
&:hover{color:@light;}
}
}
.contentNavigation ul li a:hover .xlarge_icon.disable{background:@light;}
.contentNavigation ul li a:hover span.text.disable{color:@light;}

.contentNavigation ul li a:hover span.text{color:@group}
.contentNavigation ul li:nth-child(3) a span.text{text-indent:0px;width: 84px;}
.contentNavigation ul li:nth-child(4) a span.text{text-indent:0px;width: 70px;}

@media screen and (min-width: 631px) and (max-width:1049px)
{.user_name h4{font-size:@xsmall !important;}}
