// Tab
/********** filers start *******/	
.filers{position:relative;.common_prop;padding-bottom:21px;background:@dark;.rounded0;.pt(30px); .pr(15px); .pl(15px); @media @tablet{.pr(35px); .pl(35px); .rounded20altbtm;}
	.infoBar{.common_prop;background:@dark-light;padding:10px 35px 10px 7px;.mB15;
		p{font-family: @font-proxima-semibold;.font-xsmall;width:100%;display: inline-block;float:left;}
		.info_btn{float:right;margin-right: -25px;margin-top: 5px;}
	}
	.form-label{color:@white;}
}
/********* filers end **********/

.tabNav{list-style:none;padding-top: 21px;.common_prop;list-style:none;border-bottom: 1px solid @medium;
	li{float:left;position: relative;.rounded0; background:@medium;.padding(20px 0px);height:58px;.ml(0px); border-right:1px solid @white;.text-center;width:~"calc(100% / 4 + 0px)";  @media @tablet{.rounded20altontp; .ml(-16px);width:~"calc(100% / 4 + 12px)";width:~"-webkit-calc(100% / 4 + 11.9px)";.padding(15px 22px);}
	&:hover{background:@very-dark;}
		a{.font-xsmall;color:@white ;font-family:@font-proxima-semibold;text-decoration:none;display: inline-block; @media @tablet{.font-medium;}
			span{.mr(2px);background:@medium-mid; width:18px; height:18px; @media @tablet{width:28px; height:28px;.mr(7px);} 
			i{font-size:@xsmall; width:20px; line-height:18px; @media @tablet{font-size:@mediumValue; width:32px; line-height:28px;}}
			}
		}
		/*&:after{content:"";width:1px;display:inline-block;background:@medium;height:28px;margin:0 19px;float:right;}*/
		&:hover{a{color:@white;
			
			}
		}		
	}	
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.tabNav li:first-child{.ml(0px); z-index:104; .rounded0; @media @tablet{.rounded20Zeroalt;}}
.tabNav li:nth-child(2){z-index:103;}
.tabNav li:nth-child(2).active{z-index:103;}
.tabNav li:nth-child(3){z-index:102;}
.tabNav li:nth-child(3).active{z-index:102;}
.tabNav li:nth-child(4){z-index:101;}
.tabNav li:nth-child(4).active{z-index:101;}
.tabNav li:last-child::after {display: none;}
.tabNav li.active{background:@mangers;border-right:1px solid @white;}
.tabNav li.hover{background:@group;border-right:1px solid @white;}
.tabNav li.active a{color:@white;}
.tabNav li.active a span{background:@medium-mid;}

.page_content .home_tab_content {
	h1{color:@white; .font-xxlarge; .mB25;font-family:@font-proxima-bold;
	span{font-family:@font-proxima-light;}
	}
	p{color:@white; font-size:@small;width:~"calc(100% - 35px)";
		&:nth-child(3){.mt(20px);}
	}
}
.Price_side{.mt(20px); @media @tablet{.mt(0px);}}
.page_content .Price_side{
	h1{color:@white; .font-xxlarge; .mB25;font-family:@font-proxima-light;
	span{font-size:@xsmall;width:100%;word-wrap:break-word;.display_inline;line-height:15px;
		&:first-child{.pt(5px);}
		}
	}
}
.background_logo{background: url("@{img_url}/logo290x256.png"); background-repeat:no-repeat;.mt(30px);height:330px; background-position:center;
 div{.display_inline;width:100%; height:100%; text-align:center;.pt(50px;)}	
 p{font-size:@xlarge;width:300px;.text-center;.display_inline;}
 span{display:flex; align-items:center; justify-content:center;
 	.btn-orange{.mt(20px);  height:38px; width:185px;
    &:hover{background:@very-dark;}
    }
	.btn-orangeWhite{.mt(30px);  height:40px; width:204px;}
 }
}
.top_content{
	.box{height:420px; width:~"calc(100% / 3)";.pull-left;.pt(38px);.pl(20px);.pr(20px);
	&:first-child{.dark_color;
	h1{color:@dark;}
	}
	&:nth-child(2){.group_color;
	h1{color:@group;}
	}
	&:nth-child(3){.managers_color;
	h1{color:@mangers;}
	}
	.close{.pull-right; .margin(10px); cursor:pointer;position: relative;top: -41px;right: -18px;}
	h1{ background:@white;.padding(8px 23px);.rounded20alt;font-family:@font-proxima-bold;display:table;font-size:@xlarge; .mb(30px);}
	p{color:@white; .mb(15px);
	&.bold{font-family:@font-proxima-bold;}	
	}
	}
}
