//
// Tables
// --------------------------------------------------

.tableWrapper{&:extend(.common_prop all);overflow:auto;
	.table {float: left;width: auto;min-width:100%;
		table{boder:none;padding:0;min-width:100%;border-collapse: collapse;border-spacing: 0;text-align:left;
			thead{background:@group;
				th{padding:15px;font-size:@mediumValue;color:@white;border-right:1px solid @very-light;font-weight:normal;line-height: 25px;width:auto;}
			}
			tbody{
				td{padding:15px;font-size:@small;border-right:1px solid @dark-30;
					.editButtonGroup .btn{margin-left:0;margin-right:5px; margin-bottom:5px;}
					}
				}
			tfoot{width:100%;display:table-row;background:@medium;height:30px;}				
			}
		.tableFoot{&:extend(.common_prop all);background:@mangers;height:30px;}	
	}		
}
.tableWrapper table tbody tr td{background:@very-very-light;}
.tableWrapper table tbody tr:nth-child(2n) td{background:@light;}
.tableWrapper table tbody tr td:last-child, .tableWrapper table thead tr th:last-child{border:none;}
