//
// Transition
// --------------------------------------------------

.transition(@value) {
  -webkit-transition: @value;
  -moz-transition: @value;
  -o-transition: @value;
  transition: @value;
}
.transition(@duration:0.3s, @ease:ease-in-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}
.transitionEarly(@duration:0.2s, @ease:ease) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}
.transition-height(@duration:0.35s, @ease:ease) {
  -webkit-transition: height @duration @ease;
  -moz-transition: height @duration @ease;
  -o-transition: height @duration @ease;
  transition: height @duration @ease;
}