
.other-logo-sec.common_prop{background:@white; border-radius:21px;border-bottom-right-radius: 0px;.mt(7px);
.logo-frst{text-align:center;
img{padding:10px;}
}
}
.terms-box{.pt(34px); .pb(34px);.mt(23px);
}
.terms-condition{
h1{.mb(30px);.ml(30px);.pl(25px);}
p{.mb(25px);.ml(30px);.pl(25px); font-size:14px;}
}
}
.info_btn{background-color:#65646a; 
.panel_footer{background:@gray-medium;}
.gap20{.mt(20px);}
}
.footerWrappper{.mt(0px);}
