//
// Tooltip
// --------------------------------------------------


#tooltip_wrapper {
	display: inline-block;
	position: absolute;
	z-index:1050;
}
#tooltip_wrapper > .field_info{display: block;}
.field_info {
	background:@mangers ;
	color: @white;
	display: none;
	padding: 7px;
	position:absolute;
	right: -65px;
	text-align: left;
	bottom:30px;
	width: 150px;
	z-index:1;
	.rounded5
}
.field_info.group {background:@group;}
.field_info:after {
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top:14px solid @mangers ;
	bottom: -12px;
	content: "";
	display: inline-block;
	height: 0;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	width: 0;
}
.field_info.group:after {border-top:14px solid @group ;}
#tooltip_wrapper > .field_info{display: block;}
