// Font

@font-face {
  font-family: 'ProximaNovaA-Light';
  src: url('../font/ProximaNovaA-Light.eot');
  src: url('../font/ProximaNovaA-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/ProximaNovaA-Light.woff2') format('woff2'),
       url('../font/ProximaNovaA-Light.woff') format('woff'),
       url('../font/ProximaNovaA-Light.svg#ProximaNovaA-Regular') format('svg');font-weight: normal;font-style: normal;}

@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('../font/ProximaNovaAlt-Regular.eot');
  src: url('../font/ProximaNovaAlt-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/ProximaNovaAlt-Regular.woff2') format('woff2'),
       url('../font/ProximaNovaAlt-Regular.woff') format('woff'),
       url('../font/ProximaNovaAlt-Regular.svg#ProximaNovaA-Regular') format('svg');font-weight: normal;font-style: normal;}

@font-face {
  font-family: 'ProximaNovaAltSemibold';
  src: url('../font/ProximaNovaAltSemibold.eot');
  src: url('../font/ProximaNovaAltSemibold.eot?#iefix') format('embedded-opentype'),
       url('../font/ProximaNovaAltSemibold.woff2') format('woff2'),
       url('../font/ProximaNovaAltSemibold.woff') format('woff'),
       url('../font/ProximaNovaAltSemibold.svg#ProximaNovaAltSemibold') format('svg');font-weight: normal;font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaAlt-Bold';
  src: url('../font/ProximaNovaAlt-Bold.eot');
  src: url('../font/ProximaNovaAlt-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/ProximaNovaAlt-Bold.woff2') format('woff2'),
       url('../font/ProximaNovaAlt-Bold.woff') format('woff'),
       url('../font/ProximaNovaAlt-Bold.svg#ProximaNovaA-Bold') format('svg');font-weight: normal;font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab-500';
  src: url('../font/MuseoSlab-500.eot');
  src: url('../font/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
       url('../font/MuseoSlab-500.woff2') format('woff2'),
       url('../font/MuseoSlab-500.woff') format('woff'),
       url('../font/MuseoSlab-500.svg#MuseoSlab-500') format('svg');font-weight: normal;font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71955922');
  src: url('../font/fontello.eot?71955922#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?71955922') format('woff'),
       url('../font/fontello.ttf?71955922') format('truetype'),
       url('../font/fontello.svg?71955922#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-proxima-light: "ProximaNovaA-Light";
@font-proxima-regular: "ProximaNovaA-Regular";
@font-proxima-semibold: "ProximaNovaAltSemibold";
@font-proxima-bold: "ProximaNovaAlt-Bold";
@font-museo: "MuseoSlab-500";

/***custom font icon classes***/

/***custom font icon classes***/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: none;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-notify:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-view:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-admin:before { content: '\e804'; } /* '' */
.icon-alert:before { content: '\e805'; } /* '' */
.icon-dollar:before { content: '\e806'; } /* '' */
.icon-upload:before { content: '\e807'; } /* '' */
.icon-power:before { content: '\e808'; } /* '' */
.icon-copy:before { content: '\e809'; } /* '' */
.icon-right:before { content: '\e80a'; } /* '' */
.icon-thumb:before { content: '\e80b'; } /* '' */
.icon-calender:before { content: '\e80c'; } /* '' */
.icon-reports:before { content: '\e80d'; } /* '' */
.icon-ffrwd:before { content: '\e80e'; } /* '' */
.icon-fback:before { content: '\e80f'; } /* '' */
.icon-closeb:before { content: '\e810'; } /* '' */
.icon-launch:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-add:before { content: '\e813'; } /* '' */
.icon-close:before { content: '\e814'; } /* '' */
.icon-downarrow:before { content: '\e815'; } /* '' */
.icon-leftarrow:before { content: '\e816'; } /* '' */
.icon-rightarrow:before { content: '\e817'; } /* '' */
.icon-uparrow:before { content: '\e818'; } /* '' */
.icon-eventdetail:before { content: '\e819'; } /* '' */
.icon-sideevent:before { content: '\e81a'; } /* '' */
.icon-sponsors:before { content: '\e81b'; } /* '' */
.icon-program:before { content: '\e81c'; } /* '' */
.icon-customize:before { content: '\e81d'; } /* '' */
.icon-payment:before { content: '\e81e'; } /* '' */
.icon-delete:before { content: '\e81f'; } /* '' */
.icon-quick_list:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */
.icon-resources:before { content: '\e822'; } /* '' */
.icon-radio-checked:before { content: '\e823'; } /* '' */
.icon-checkbox-checked:before { content: '\e824'; } /* '' */
.icon-radio-unchecked:before { content: '\e825'; } /* '' */
.icon-checkbox-unchecked:before { content: '\e826'; } /* '' */
.icon-info:before { content: '\e827'; } /* '' */
.icon-star:before { content: '\e828'; } /* '' */
.icon-Conference:before { content: '\e829'; } /* '' */
.icon-Meeting:before { content: '\e82a'; } /* '' */
.icon-Party:before { content: '\e82b'; } /* '' */
.icon-wedding:before { content: '\e82c'; } /* '' */
.icon-pin:before { content: '\e82d'; } /* '' */
.icon-building:before { content: '\e82e'; } /* '' */
.icon-airoplan:before { content: '\e82f'; } /* '' */
.icon-australia:before { content: '\e830'; } /* '' */
.icon-telephone:before { content: '\e831'; } /* '' */
.icon-facebook:before { content: '\e832'; } /* '' */
.icon-twitter:before { content: '\e833'; } /* '' */
.icon-3-3:before { content: '\e834'; } /* '' */
.icon-newman-logo:before { content: '\e835'; } /* '' */
.icon-Newman:before { content: '\e836'; } /* '' */
.icon-info-1:before { content: '\e837'; } /* '' */
.icon-help:before { content: '\e838'; } /* '' */
.icon-SL:before { content: '\e839'; } /* '' */
.icon-RFI:before { content: '\e83a'; } /* '' */
.icon-heart:before { content: '\e83b'; } /* '' */
.icon-back:before { content: '\e83c'; } /* '' */
.icon-frwd:before { content: '\e83d'; } /* '' */
.icon-exhibitors:before { content: '\e83e'; }