/******styling for page only end**********/
/********** banner start *******/
	
.mainBanner{position:relative;.common_prop;margin-bottom:35px;
	img{max-width:100%;}
	.bannerText{position:absolute;.common_prop;text-align:right;right:0;bottom:35px;padding:10px;background:url("@{img_url}/shade.png"); background-repeat:repeat-y;background-size:100% 100%;background-color:transparent;
		h1{.font-xxxlarge;font-weight:bold;font-family:@font-proxima-bold;line-height:30px;word-spacing: -9px;margin:0;
			.color1{color:@dark;}
			.color2{color:@medium;}
			.color3{color:@suppliers ;} 
		}
	}
}
/********* banner end **********/
.page_heading{	color : @mangers;	font-size : @xlarge; }
.color_box {	display: inline-block;	width: 200px;	height: 100px;	line-height: 100px;	text-align: center;	font-size:@mediumValue;	color:#fff;	margin-bottom:15px;	margin-right:10px; position:relative;vertical-align:middle;

&:after {content: "(.group_color)";position: absolute;bottom: 0;line-height: 48px;width: 100%;text-align: center;left: 0;}
.group_color&:after{content: "(group_color)";}.managers_color&:after{content: "(managers_color)";}.supplier_color&:after{content: "(supplier_color)";}.delegates_color&:after{content: "(delegates_color)";}.client_color&:after{content: "(client_color)";}.resource_color&:after{content: "(resource_color)";}.verydark_color&:after{content: "(verydark_color)";}.very_dark_medium&:after{content: "(very_dark_medium)";}.very_dark_light&:after{content: "(very_dark_light)";}.dark_color&:after{content: "(dark_color)";}.dark_medium&:after{content: "(dark_medium)";}.dark_light&:after{content: "(dark_light)";}.medium_color&:after{content: "(medium_color)";}.medium_mid&:after{content: "(medium_mid)";}.medium_light&:after{content: "(medium_light)";}.light_color&:after{content: "(light_color)";}.very_light&:after{content: "(very_light)";}.very_very_light&:after{content: "(very_very_light)";}.gray_color&:after{content: "(gray_color)";}.gray_medium&:after{content: "(gray_medium)";}.gray_light&:after{content: "(gray_light)";}.icon_medium&:after{content: "(icon_medium)";}.icon_light&:after{content: "(icon_light)";}.danger_color&:after{content: "(danger_color)";}.danger_medium&:after{content: "(danger_medium)";}.danger_light&:after{content: "(danger_light)";}.casual_color&:after{content: "(casual_color)";}.solo_color&:after{content: "(solo_color)";}.enterprise&:after{content: "(enterprise)";}.venue_group&:after{content: "(venue_group)";}.venue_brand&:after{content: "(venue_brand)";}.venue_color&:after{content: "(venue_color)";}

&:before{content: ""; position:absolute; top: -25px; left:50%; transform: translateX(-50%);}
.group_color&:before{content: "@{group}";}.managers_color&:before{content: "@{mangers}";}.supplier_color&:before{content: "@{suppliers}";}.delegates_color&:before{content: "@{delegates}";}.client_color&:before{content: "@{clients}";}.resource_color&:before{content: "@{resources}";}.verydark_color&:before{content: "@{very-dark}";}.very_dark_medium&:before{content: "@{very-dark-medium}";}.very_dark_light&:before{content: "@{very-dark-light}";}.dark_color&:before{content: "@{dark}";}.dark_medium&:before{content: "@{dark-medium}";}.dark_light&:before{content: "@{dark-light}";}.medium_color&:before{content: "@{medium}";}.medium_mid&:before{content: "@{medium-mid}";}.medium_light&:before{content: "@{medium-light}";}.light_color&:before{content: "@{light}";}.very_light&:before{content: "@{very-light}";}.very_very_light&:before{content: "@{very-very-light}";}.gray_color&:before{content: "@{gray}";}.gray_medium&:before{content: "@{gray-medium}";}.gray_light&:before{content: "@{gray-light}";}.icon_medium&:before{content: "@{icon-medium}";}.icon_light&:before{content: "@{icon-light}";}.danger_color&:before{content: "@{danger}";}.danger_medium&:before{content: "@{danger-medium}";}.danger_light&:before{content: "@{danger-light}";}.casual_color&:before{content: "@{casual}";}.solo_color&:before{content: "@{solo}";}.enterprise&:before{content: "@{enterprise}";}.venue_group&:before{content: "@{venue-group}";}.venue_brand&:before{content: "@{venue-brand}";}.venue_color&:before{content: "@{venue}";}}


.text-demo {display: block;margin-bottom: 15px; 
&.font-xxxlarge:before{content:"'font-xxxlarge'"} 
&.font-xxlarge:before{content:"'font-xxlarge'"}
&.font-xlarge:before{content:"'font-xlarge'"}
&.font-large:before{content:"'font-large'"}
&.font-medium:before{content:"'font-medium'"}
&.font-small:before{content:"'font-small'"}
&.font-xsmall:before{content:"'font-xsmall'"}

&.font-xxxlarge:after{content:' @{xxxlarge}'} 
&.font-xxlarge:after{content:' @{xxlarge}'}
&.font-xlarge:after{content:' @{xlarge}'}
&.font-large:after{content:' @{large}'}
&.font-medium:after{content:' @{mediumValue}'}
&.font-small:after{content:' @{small}'}
&.font-xsmall:after{content:' @{xsmall}'}
 }

.howItWork{padding:35px 50px 50px 50px;background:url("@{img_url}/logo290x256.png")no-repeat scroll center center;text-align:center;display:table; background-size:290px 250px;background-position:50px 30px;
	p{.font-large;.mB25;}
	.btnGroup{margin:0 auto;display:table;width:100%;text-align:center;
		.btn-greenWhite{background: transparent}
	}
}
.specialDiv{background:url("@{img_url}/banner2.png")no-repeat scroll center center;padding:40px 0;background-size:cover;position:relative;
	.circularInfo{display:table;width:210px; height:210px;.rounded100;background:rgba(19,30,41, 0.8);padding:45px 0;margin:0 auto;position:relative;z-index:1;
		.bdrDiv{border:1px;display:table-cell;vertical-align: middle;text-align: center;
			.squareDiv{max-width:135px;border:1.5px dashed @white;margin: 0 auto;border-left:none;border-right:none;padding:7px 0;
				h1{color:@white;font-family:@font-proxima-light;font-weight:100;font-size: 31px;line-height: 34px;
					span{font-size:33px;}
				}
				p{color:@white;font-family:@font-proxima-light;font-weight:100;}
			}
		}
	}
	.overLayColor{background:rgba(139,141,74, 0.75);width:100%;height:100%;position:absolute;top: 0;left:0;z-index:0;}
}

// style for tablet only

@media only screen and (min-width:630px) {
.btn{margin-top:0;}
.header{margin-bottom:40px;}
.userLoginBlock{display:inline-block;float:right;margin-left:0px;}
.logo {float: left;width: auto;margin-right:35px;
	img{float:none;}
}
.navToggleButton{display:none;}
.topBarNavigation ul{float:right;
	 li{width:60px;}
}
.top_nav{display:inline-block;float:right}
.footerWrappper .footer{text-align:left;}
.panel .panel_header{.font-large;line-height:@large;}
.sabPanel .sabPanel_header {.font-large;line-height:38px;}
.labelDiv{width:auto;float:right;padding-right:25px;margin-bottom:0;
	.form-label{margin-bottom:0;line-height:26px;text-align:right;}
	span{float:initial;.mT5;margin-right:-19px}
}
.labelDiv.pull-left{float:left;}
.editButtonGroup .btn.largeIco{width:38px;}
.editButtonGroup .btn .medium_icon {height:38px;line-height:38px;width:38px;}
.editButtonGroup .btn .medium_icon i {font-size: 19px;line-height: 38px;width: 38px;}
.sabPanel .editToggle + .editButtonGroup, .sabPanel .editToggle + .editButtonGroup.three{float:right;right: 15px;top: 9px;}
.inputFileWrapper{&:extend(.common_prop all);margin-top:7px;
	.fileName{padding:5px 10px;.font-small;font-family:@font-proxima-semibold;color:@very-dark;float:left;background:@dark-30;.rounded5;
max-width:48%;margin-top:0;
		span{cursor:pointer;margin-left:9px;word-wrap: break-word}
	}	
}
.fileName:nth-child(2n+2){margin-left:10px;margin-bottom: 7px;}
.fileName span:first-child{margin-left:0px; float: left;cursor: default;}
.uploadedName{margin-right:10px;}
.tableWrapper .table table tbody td .editButtonGroup .btn {margin-bottom:0;margin-right:7px;}
.tab-content .display_inline.pull-left.mT15{.mT15;margin-right:16px}
.tab-content .display_inline.pull-left.mT15.mTZero{margin-top:0;}
.tab-content .display_inline.pull-left.mRZero{margin-right:0;}
.btn-grayWhite.btn.mT15 {margin-top: 22px;}
.btn-grayWhite.btn.mT7 {margin-top: 7px;}
.howItWork .btnGroup .btn {float:none;}
}#newman_icons .icon{ margin:5px 15px;}.demo_icon {display: inline-block;text-align: center;font-size: 15px;padding: 0 10px;}


// style for desktop only

@media only screen and (min-width:1050px) {
.logo{float:left;}
.top_nav{width:33%;float:right;}
}