html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
.box-sizing(@sizing) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  -o-box-sizing: @sizing;
  box-sizing: @sizing;
}
* {.box-sizing(border-box);text-rendering: optimizelegibility;}
*:before,*:after {.box-sizing(border-box);}
body{font-family:@font-proxima-regular;	font-size:@xsmall;color:@very-dark;}
a { text-decoration: none;}
img {border: 0 none;height: auto;max-width: 100%;vertical-align: middle;}