// main
@import "mixin.less";
/* common variables*/
@img_url: "../images";
.pull-right{float:right;}
.pull-left{float:left; }
.clearFix{clear:both;}
.display_inline{display:inline-block;}
.w_100{width:100%;display: inline-block;}
.common_prop{width:100%;float:left;display:inline-block}
.pad35{padding-left:35px;padding-right:35px;}
.mTZero{margin-top:0px;}
.mT5{margin-top:5px;}	
.mT7{margin-top:7px;}
.mT10{margin-top:10px;}	
.mT15{margin-top:15px;}	
.mT20{margin-top:20px;}	
.mT21{margin-top:21px;}	
.mT25{margin-top:25px;}	
.mT30{margin-top:30px;}	
.mT140{margin-top:140px;}	
.mB5{margin-bottom:5px;}
.mB7{margin-bottom:7px;}
.mB10{margin-bottom:10px;}	
.mB15{margin-bottom:15px;}	
.mB20{margin-bottom:20px;}	
.mB25{margin-bottom:25px;}	
.mB30{margin-bottom:30px;}
.mB35{margin-bottom:35px;}
.mRZero{margin-right:0px;}	
.mR5{margin-right:5px;}
.mR10{margin-right:10px;}	
.mR15{margin-right:15px;}	
.mR20{margin-right:20px;}	
.mR25{margin-right:25px;}	
.mR30{margin-right:30px;}
.mL5{margin-left:5px;}	
.mL10{margin-left:10px;}	
.mL15{margin-left:15px;}	
.mL20{margin-left:20px;}	
.mL25{margin-left:25px;}	
.mL30{margin-left:30px;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.pt_20	   {  padding-top : 20px;}
.pb_20	   {  padding-bottom : 20px;}
.pr_38	   {  padding-right : 38.5px;}
.pl_38	   {  padding-left : 38.5px;}
.mt_15	   {	 margin-top	: 15px;}
.collapse  {
	display: none;
	.position(relative);
	height: 0;
	overflow: hidden;
	&.in {
		display: inline-block;
		height: auto;
	}
}
.below768{
	display:block;
	@media screen and (min-width:1049px){
		display:none;
	}
}
.above768 { 
	display:none;
	@media screen and (min-width:1049px){
		display:block;
	}
}
/* common mixins */
.margin(@value){ margin : @value;}
.mt(@value)	   {  margin-top : @value; }
.mr(@value)    {  margin-right : @value; }
.mb(@value)    {  margin-bottom : @value; }
.ml(@value)    {  margin-left : @value; }
.padding(@value){ padding : @value; }
.pt(@value)	   {  padding-top: @value; }
.pr(@value)    {  padding-right: @value; }
.pb(@value)    {  padding-bottom: @value; }
.pl(@value)    {  padding-left: @value; }
.position-top(@top) when not (@top = null) {top: @top;}
.position-right(@right) when not (@right = null) {  right: @right;}
.position-bottom(@bottom) when not (@bottom = null) {  bottom: @bottom;}
.position-left(@left) when not (@left = null) {  left: @left;}
.z-index(@zindex) when not (@zindex = null) {  z-index: @zindex;}
.position(@position:null,@top:null,@right:null,@bottom:null,@left:null,@zindex:null){
  position: @position;  .position-top(@top);  .position-right(@right);  .position-bottom(@bottom);  .position-left(@left);  .z-index(@zindex);
}
.background-position(@xpos, @ypos){background-position : @xpos @ypos;}
@tablet	: ~" screen and (min-width:630px)";
@desktop : ~" screen and (min-width:1050px)";
/* common mixins ends*/

/******styling for page only**********/

/********* page content start **********/
.heading {float: left;.mB30;width:100%;}
.page_content {.common_prop;
    h1 {color:@medium;line-height:25px;width:100%;}
}
.row.mT30 {margin-top: 30px;}
.container .row.mT5{margin-top:5px;}
[class^="col-fluid"] [class$="_input"], .modal .col-fluid-15 .xlarge_input.error {width:100%;}
.input100, .textarea100, .numberInput100, .select100{width:100%;}
.modal .select100{	width: 100%;}
.pull-right .btn-group{text-align:right;}
.btn-icon:hover span, .btn-icon span:hover, .btn-icon span i:hover, .btn-icon span:hover i{color:@medium;background:@white;.rounded100;overfloaw:hidden;}
.btn + .btn{.mL15}
.small_icon i.font-small{font-size:@mediumValue}
.btn-nav.prev span.small_icon{margin-right:0;margin-left:10px;}
.btn-nav.prevI i.icon-rightarrow{margin-left:10px;line-height:@mediumValue}
.btn-nav.prevI i.icon-leftarrow{margin-right:10px;line-height:@mediumValue}
.topBtnBar .btn + .btn{.mL5}
.sabPanel .editToggle + .editButtonGroup {display: block;float: left;position: absolute;right: -71px;top: 4px;.transition;}
.sabPanel .editToggle + .editButtonGroup.three{right: -109px;}
.sabPanel .editToggle{display:block;height:28px;margin-right:0px;display:inline-block;background-position:center;float:right;width:28px;text-align:center;  background:url("@{img_url}/sabMenu.png") no-repeat @medium;background-position:7px center;position:absolute;right:0px;top:4px;padding:5px 0;z-index:10;}
.panel .sabPanel:last-child .sabPanel_footer, .panel .sabPanel:last-child .sabPanel_contentWrapper{.roundedZero20alt}
.form-label + span {float:left;width:@mediumValue;}
.form-label + input[type="text"]{margin-top:7px;}
input.error, input.error:focus{border-color:@danger;}
.error + span.customSelect{border-color:@danger;margin:0;}
.error + span.customSelect .customSelectInner{color:@dark;line-height: 17px;margin:0;}
.error + span{color:@danger;&:extend(.common_prop all);font-family:@font-proxima-semibold;line-height: 11px;.mT5;text-align:left;}
span[id^="error"]{color:@danger;font-family:@font-proxima-semibold;float: left;}
.error + span.customSelect::after{content:url("@{img_url}/drparwError.png");}
.custom-select.error:hover + span.customSelect::after{content:url("@{img_url}/drparwError.png");}
.info_btn{background:url("@{img_url}/infoimg.png");display:inline-block;width:@mediumValue;height: @mediumValue; .rounded100;background-color:@suppliers;background-repeat:no-repeat;background-position:center center;background-size:auto 14px;}
.info_btn.group{background-color:@group;}
.loaderImg{background:@white;height:113px;padding:3px;width:113px;.rounded100;margin: 0 auto;}
.loaderImg + p{color:@white;padding: 20px;text-align: center;font-family:@font-proxima-semibold;.font-medium}
.btn-nav.prev.btn .small_icon .icon-view.font-small {font-size: 16px;line-height: 19px;text-align: center;}
loader .modal-dialog {width: auto;display:table;}
#loader .modal-body   {background: transparent;}
.loader_wrapper img {.border-radius(100%)}
.uploadedName span:last-child:hover {opacity:.5;}	
/********** footer style start *********/
.footerWrappper {background:@very-dark;height: 75px;line-height: 72px;padding: 0;text-align: center;.common_prop;
	& .footer{color:@white;&:extend(.text-center,.font-small,.text-center);@media @tablet{.text-left;}& a {color:@white;}}
	@media @desktop{.mt(64px);}
}
.crosslable {padding:4px 25px 4px 10px;font-size:@mediumValue;font-family: "ProximaNovaAltSemibold";color: #415a68;float: left;background: #f3f6f6 none repeat scroll 0% 0%;border-radius: 5px;margin-top: 7px;word-wrap: break-word;word-break: break-all;position: relative;width:217px;}
.crosslable span {cursor: pointer;word-wrap: break-word; line-height:14px;}
.crosslable span:last-child {position: absolute;right:10px;top: 50%;transform: translateY(-50%);}
.crosslable span:last-child:hover {opacity:.5;}
/********** footer style end *********/	
/*Page Styling*/
@import "page-style.less";